.about {
  padding-top: 70px;
  padding-bottom: 82px;
  background-color: $basic-blue;

  @media screen and (min-width: 1440px) {
    padding-top: 132px;
  }
}

.about__title {
  color: $special-orange;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 57px;
  }
}

.about__text {
  color: $basic-white;

  @media screen and (min-width: 768px) {
    width: 308px;

    margin-bottom: 31px;
  }

  @media screen and (min-width: 1440px) {
    width: 619px;

    margin-bottom: 38px;
  }
}

.about__more {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-top: 52px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 85px;
  }
}
