.plan {
  width: 270px;
  background-color: $basic-white;
  padding: 24px;
  border-radius: 10px;

  color: $special-blue-light;
}

.plan__title {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;

  text-align: center;
  margin-bottom: 20px;
}

.plan__count {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 5px;
}

.plan__dates {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 24px;
}

.plan__change {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;

  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: rgba($basic-black, 0.3);

  text-decoration: none;
}
