.button {
  font-family: inherit;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  color: $basic-blue;
  text-decoration: none;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;

  text-align: center;
  cursor: pointer;

  .button__prepend-icon {
    margin-right: 15px;
  }

  .button__append-icon {
    margin-left: auto;
  }

  &--normal-size {
    @media screen and (min-width: 1440px) {
      max-width: 276px;
    }
  }

  &--full-size {
    max-width: 100%;
  }

  &--rounded {
    border-radius: 25px;
    background-color: $basic-yellow;

    &:hover {
      background-color: $special-yellow-dark;
    }

    &:active {
      color: rgba($basic-blue, 0.3);
    }
  }

  &--transparent {
    background-color: transparent;
    text-transform: none;
  }

  &--grey {
    background-color: $special-grey-light;
  }

  &--bordered {
    border: 3px solid $basic-blue-light;
  }

  &--yellow {
    color: $special-blue-light;
    background-color: $basic-yellow;

    &:hover {
      background-color: $special-orange;

      .button__prepend-icon {
        opacity: 0.6;
      }
    }

    &:active {
      color: rgba($special-blue-light, 0.3);

      .button__prepend-icon {
        opacity: 0.3;
      }
    }
  }

  &--primary {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;

    padding: 22px;

    color: $special-blue-light;

    border-radius: 10px;

    &:hover {
      .button__prepend-icon {
        opacity: 0.6;
      }
    }

    &:active {
      .button__prepend-icon {
        opacity: 0.3;
      }
    }
  }

  &--map-hover {
    &:hover {
      background-color: $basic-blue-light;
      color: $basic-white;
    }

    &:active {
      background-color: $basic-blue-light;
      color: rgba($basic-white, 0.3);
    }
  }
}
