.calendar {
  width: 100%;
}

.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
  padding-top: 11px;
  padding-bottom: 10px;

  border-top: 1px solid $calendar-header-border;
  border-bottom: 1px solid $calendar-header-border;

  @media #{$tablet-width} {
    padding-top: 27px;
    padding-bottom: 22px;

    padding-left: 21px;
    padding-right: 20px;

    margin-bottom: 38px;
  }

  @media #{$desktop-width} {
    padding-left: 0;
    padding-right: 0;

    margin-bottom: 3px;
  }
}

.calendar__button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 21px;
  background-color: transparent;

  color: $qty-button;

  cursor: pointer;

  @media #{$tablet-width} {
    width: 19px;
    height: 34px;
  }

  &--back {
    margin-left: -3px;

    @media #{$tablet-width} {
      margin-right: auto;
    }
  }

  &--next {
    margin-right: -3px;

    @media #{$tablet-width} {
      margin-left: auto;
    }
  }

  &:hover,
  &:focus {
    color: $qty-button-hover;
  }

  &:active {
    color: $qty-button-active;
  }
}

.calendar__icon {
  flex-shrink: 0;

  @media #{$tablet-width} {
    width: 19px;
    height: 34px;
  }

  @media #{$desktop-width} {
    width: 15.5px;
    height: 28px;
  }
}

.calendar__current-month {
  font-size: 20px;
  line-height: 20px;

  color: $special-blue-light;

  @media #{$tablet-width} {
    font-size: 36px;
    line-height: 36px;
  }
}
