.calendar {
  width: 100%;
}

.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-bottom: 33px;
}

.calendar__button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 21px;
  background-color: transparent;

  color: $qty-button;

  cursor: pointer;

  &:hover {
    color: $qty-button-hover;
  }

  &:active {
    color: $qty-button-active;
  }
}

.calendar__icon {
  flex-shrink: 0;
}

.calendar__current-month {
  font-size: 20px;
  line-height: 20px;

  color: $special-blue-light;

  @media #{$tablet-width} {
    font-size: 36px;
    line-height: 36px;
  }
}
