$user-status-size: 6px;
$additional-mobile-padding: 5px;
$card-mobile-padding: 20px;
$card-tablet-padding: 36px;

.card {
  overflow-y: hidden;
  display: grid;
  width: 100%;
  background-color: $basic-white;

  padding-top: 15px;
  padding-left: $card-mobile-padding;
  padding-right: $card-mobile-padding;
  padding-bottom: 22px;

  border-radius: 20px;

  grid-template-areas: "avatar name name" "avatar likes likes" "tags tags tags" "countries countries countries" "transport transport level" "button button button";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content min-content;

  @media #{$tablet-width} {
    grid-template-areas: "avatar name name transport" "avatar tags tags transport" "avatar button likes level" "countries countries countries countries";
    grid-template-columns: 1fr 1fr 1fr max-content;
    grid-template-rows: max-content 1fr max-content min-content;

    padding-top: 35px;
    padding-left: 36px;
    padding-bottom: 10px;
  }

  @media #{$desktop-width} {
    padding: 0;
    grid-template-areas: "avatar . . . ." "avatar name name countries countries" "avatar tags tags countries countries" "avatar button likes transport level" "avatar . . . .";
    grid-template-columns: max-content 150px 141px 216px 60px;
    grid-template-rows: 44px max-content min-content min-content 30px;
    max-width: 949px;

    overflow: auto;

    align-items: start;
  }
}

.card__avatar-wrapper {
  grid-area: avatar;
  width: 70px;
  height: 70px;
  border-radius: 100%;

  overflow: hidden;

  margin-left: -2px;

  @media #{$tablet-width} {
    height: 190px;
    width: 190px;

    border-radius: 20px;
    margin-right: 30px;
  }

  @media #{$desktop-width} {
    height: 285px;
    width: 285px;

    border-radius: 0;
    margin-right: 56px;
  }
}

.card__avatar {
  width: 100%;
}

.card__name {
  grid-area: name;
  position: relative;

  padding-right: 40px;
  word-wrap: break-spaces;

  padding-left: 7px;

  font-size: 20px;
  line-height: 20px;

  white-space: initial;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    right: 2px;
    top: $user-status-size;
    width: $user-status-size;
    height: $user-status-size;
    border-radius: 100%;

    @media #{$tablet-width} {
      $user-status-size: 8px;
      width: $user-status-size;
      height: $user-status-size;

      right: auto;
      left: calc(100% + #{$user-status-size} + 19px);
      top: calc(#{$user-status-size});
    }

    @media #{$desktop-width} {
      left: -18px;
      top: 13px;
    }
  }

  &--offline::before {
    background-color: $special-red;
  }

  &--online::before {
    background-color: $special-green;
  }

  @media #{$tablet-width} {
    font-size: 30px;
    line-height: 30px;

    padding-left: 0;
    padding-right: 0;

    max-width: 80%;
    height: fit-content;
    width: fit-content;

    margin-bottom: 5px;
  }

  @media #{$desktop-width} {
    padding-left: 9px;
  }
}

.card__name-link {
  color: $basic-blue-light;
  text-decoration: none;
}

.card__likes-wrapper {
  grid-area: likes;
  display: flex;
  align-items: baseline;
  margin-left: -32px;

  @media #{$tablet-width} {
    margin-top: auto;
    margin-left: -21px;

    align-items: center;
  }

  @media #{$desktop-width} {
    margin-top: 0;
    margin-left: 0;
  }
}

.card__like {
  border: none;
  margin: 0;
  cursor: pointer;

  padding: 9px;
  color: rgba($basic-blue, 0.3);
  background-color: $countries-filter-background;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;

  margin-right: 6px;

  @media #{$tablet-width} {
    padding: 15px;
  }

  &:hover {
    background-color: rgba($countries-filter-background, 0.6);
    color: rgba($basic-blue, 1);
  }

  &:active {
    color: rgba($basic-blue, 0.1);
  }

  &--checked {
    color: $liked-color;
    background-color: $special-red-light;

    .card__like-icon--checked {
      display: block;
    }

    .card__like-icon--no-checked {
      display: none;
    }

    &:hover {
      background-color: $special-red-light-hover;
      color: $liked-color;
    }

    &:active {
      color: rgba($liked-color, 0.3);
    }
  }
}

.card__like-icon--checked {
  display: none;
}

.card__like-icon--no-checked {
  display: block;
}

.card__like-svg {
  width: 12px;
  height: 12px;

  @media #{$tablet-width} {
    width: 20px;
    height: 20px;
  }
}

.card__likes-count {
  font-size: 14px;
  line-height: 16px;

  text-transform: uppercase;

  color: $basic-blue;

  @media #{$tablet-width} {
    font-size: 20px;
    line-height: 20px;
  }
}


.card__flags {
  margin-bottom: 0;

  @media #{$tablet-width} {
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;

    margin-bottom: 0;
  }

  @media #{$desktop-width} {
    flex-direction: column;
  }
}

.card__flag-image {
  @media #{$tablet-width} {
    width: 35px;
    height: 24px;
  }
}

.card__transports-wrapper {
  position: relative;
  grid-area: transport;

  padding-left: $additional-mobile-padding + $card-mobile-padding;

  margin-left: -$card-mobile-padding;

  background-color: $basic-white;


  @media #{$only-phone-width} {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;

      background-color: $basic-grey;
      right: 0;
      top: 7px;
      left: 0;

      z-index: 1;
    }
  }

  @media #{$tablet-width} {
    padding-left: 0;
  }
}

.card__transports-text {
  position: relative;
  font-weight: normal;

  font-size: 15px;
  line-height: 16px;

  color: $special-grey;

  margin-bottom: 17px;

  text-transform: lowercase;

  padding-left: 11px;
  padding-right: 11px;
  margin-left: -9px;

  background-color: $basic-white;

  z-index: 1;

  width: fit-content;

  @media #{$tablet-width} {
    display: none;
  }
}

.card__level-wrapper {
  position: relative;
  grid-area: level;

  text-align: right;

  padding-right: $additional-mobile-padding + $card-mobile-padding;

  margin-right: -$card-mobile-padding;
  padding-left: 24px;

  display: flex;
  flex-direction: column;

  @media #{$only-phone-width} {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;

      background-color: $basic-grey;
      right: 0;
      top: 7px;
      left: 0;
    }
  }


  @media #{$desktop-width} {
    padding-right: 5px;
  }
}

.card__level-text {
  font-weight: normal;
  text-transform: lowercase;

  margin-bottom: 12px;

  padding-left: 11px;
  padding-right: 11px;
  margin-right: -10px;

  background-color: $basic-white;

  z-index: 1;

  color: rgba($special-grey, 1);

  @media #{$tablet-width} {
    display: none;
  }
}

.card__progress {
  width: 45px;
  height: 45px;

  margin-left: auto;
  margin-right: -3px;
  padding: 0;

  @media #{$desktop-width} {
    width: 100%;

    margin: 0;
  }
}

.card__transports {
  justify-content: flex-start;
  margin-left: -3px;

  @media #{$tablet-width} {
    flex-direction: column;
  }

  @media #{$desktop-width} {
    flex-direction: row;
    padding-left: 43px;
    padding-top: 13px;
  }
}

.card__flags-wrapper {
  position: relative;
  grid-area: countries;
  margin-bottom: 7px;
  padding-left: $additional-mobile-padding + $card-mobile-padding;

  margin-left: -$card-mobile-padding;
  margin-right: -$card-mobile-padding;

  @media #{$only-phone-width} {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;

      background-color: $basic-grey;
      right: 0;
      top: 7px;
      left: 0;
    }
  }

  @media #{$only-tablet-width} {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;

      background-color: $basic-grey;
      right: 0;
      top: 30px;
      left: 0;
    }
  }

  @media #{$tablet-width} {
    padding-top: 23px;
    margin-left: -$card-tablet-padding;
    padding-left: $card-tablet-padding;
  }

  @media #{$desktop-width} {
    padding-left: 44px;
    padding-top: 8px;
  }
}

.card__flags-text {
  position: relative;

  font-weight: normal;
  font-size: 15px;
  line-height: 16px;

  color: rgba($special-grey, 1);

  margin-bottom: 20px;

  text-transform: lowercase;
  background-color: $basic-white;

  width: fit-content;

  padding-left: 11px;
  padding-right: 11px;
  margin-left: -10px;

  z-index: 1;

  @media #{$tablet-width} {
    margin-left: 37px;
  }

  @media #{$desktop-width} {
    display: none;
  }
}

.card__image-wrapper {
  @media #{$desktop-width} {
    margin-right: 19px;
  }
}

.card__flag {
  @media #{$desktop-width} {
    margin-bottom: 10px;
  }
}

.card__countries-text {
  font-weight: normal;

  font-size: 15px;
  line-height: 16px;

  color: $special-grey;

  margin-bottom: 20px;

  @media #{$desktop-width} {
    display: none;
  }
}

.card__invite {
  grid-area: button;
  text-transform: uppercase;
  justify-content: center;

  padding-top: 14px;
  padding-bottom: 10px;

  margin-top: 12px;

  font-size: 17px;
  line-height: 17px;

  width: 100%;

  @media #{$tablet-width} {
    font-size: 20px;
    line-height: 20px;

    width: fit-content;
    padding-left: 33px;
    padding-right: 32px;

    margin-top: auto;
    padding-top: 17px;
    padding-bottom: 13px;
  }

  @media #{$desktop-width} {
    margin-top: 0;

    font-size: 20px;
    line-height: 20px;

    padding-top: 19px;
  }
}

.card__tags {
  grid-area: tags;
  padding-left: $additional-mobile-padding;
  margin-top: 14px;
  margin-bottom: 12px;

  @media #{$tablet-width} {
    font-size: 20px;
    line-height: 23px;
    padding-right: 75px;
    padding-left: 7px;
  }

  @media #{$desktop-width} {
    margin-bottom: 28px;
    padding-right: 45px;
  }
}
