.checkboxes-transports {
  display: flex;

  padding: 0;
  padding-top: 17px;
  padding-bottom: 17px;
  margin: 0;
  list-style: none;

  justify-content: center;
}

.checkboxes-transports__item {
  margin-right: 1px;
}

.checkboxes-transports__control {
  appearance: none;
}

.checkboxes-transports__label {
  width: 31px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  color: rgba($transport-unchecked, 1);

  background-color: $basic-white;
  border-radius: 100%;

  &:hover {
    filter: drop-shadow(0 2px 6px rgba(22, 28, 53, 0.17));
    color: rgba($transport-unchecked-hover, 1);
  }

  &:active {
    filter: drop-shadow(0 2px 6px rgba(22, 28, 53, 0.17));
    color: rgba($special-blue-light, 0.1);
  }
}

.checkboxes-transports__control:checked + .checkboxes-transports__label {
  color: $special-blue-light;

  &:hover {
    color: rgba($special-blue-light, 0.7);
  }

  &:active {
    color: rgba($special-blue-light, 0.3);
  }
}
