.companions {
  padding-top: 68px;
  padding-bottom: 30px;
  background-color: $basic-blue-light;
  color: $basic-white;

  @media #{$tablet-width} {
    padding-top: 143px;
    padding-bottom: 80px;
  }

  @media #{$desktop-width} {
    padding-top: 100px;
    padding-bottom: 138px;
  }
}

.companions__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media #{$tablet-width} {
    display: grid;
    justify-content: center;
    align-items: start;

    padding-left: 40px;

    grid-template-rows: min-content min-content min-content;
  }

  @media #{$desktop-width} {
    display: grid;

    padding-left: 132px;

    grid-template-columns: 427px 1fr;
    grid-template-rows: min-content 1fr;

    grid-column-gap: 190px;
  }
}

.companions__description {
  padding-left: 24px;
  padding-right: 31px;

  margin-bottom: 55px;

  @media #{$tablet-width} {
    padding-left: 0;
    grid-row: 1/2;

    margin-bottom: 0;
  }

  @media #{$desktop-width} {
    grid-column: 1/2;
    grid-row: 1/2;

    padding-right: 0;

    margin-bottom: 84px;
  }
}

.companions__title {
  font-style: normal;
  font-weight: bold;

  color: $special-orange;

  margin-bottom: 19px;

  @media #{$tablet-width} {
    margin-bottom: 55px;
  }

  @media #{$desktop-width} {
    margin-bottom: 55px;
  }
}

.companions__text {
  margin-bottom: 23px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media #{$tablet-width} {
    width: 427px;

    margin-bottom: 43px;
  }

  @media #{$desktop-width} {
    width: 427px;

    margin-bottom: 42px;
  }
}

.companions__list {
  margin-bottom: 8px;

  @media #{$tablet-width} {
    margin-top: 59px;
    margin-bottom: 78px;

    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px;


    grid-row: 2/3;
  }

  @media #{$desktop-width} {
    margin-bottom: 0;
    margin-top: 0;

    grid-column-gap: 60px;
    grid-row-gap: 40px;

    grid-row: 1 / -1;
    grid-column: -1 / -2;
  }
}

.companions__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$tablet-width} {
    margin-bottom: 0;
  }
}

.companions__show-all {
  @media #{$tablet-width} {
    grid-row: -1/-2;
  }

  @media #{$tablet-width} {
    grid-row: -1/-2;
    grid-column: 1/2;
  }
}
