.companions {
  position: relative;
  margin-top: -$index-mobile-border-radius;

  padding-top: 68px + $index-mobile-border-radius;
  padding-bottom: 30px;
  background-color: $basic-blue-light;
  color: $basic-white;

  z-index: $companions-z-index;

  border-bottom-left-radius: $index-mobile-border-radius;
  border-bottom-right-radius: $index-mobile-border-radius;

  @media #{$tablet-width} {
    margin-top: -$index-tablet-border-radius;
    padding-top: 142px + $index-tablet-border-radius;
    padding-bottom: 87px;

    border-bottom-left-radius: $index-tablet-border-radius;
    border-bottom-right-radius: $index-tablet-border-radius;
  }

  @media #{$desktop-width} {
    padding-top: 131px + $index-tablet-border-radius;
    padding-bottom: 134px;
  }

  background-image:
    url("../../img/smolov-back-desktop@1x.png"),
    url("../../img/rogovaya-back-mobile@1x.png");

  background-position: calc(50% + 63px) 65px, calc(50% - 135px) 337px;
  background-repeat: no-repeat;
  background-size: 143px 143px, 73px 71px;

  @include retina {
    background-image:
      url("../../img/smolov-back-desktop@2x.png"),
      url("../../img/rogovaya-back-mobile@2x.png");
  }

  @media #{$tablet-width} {
    display: grid;
    justify-content: center;
    align-items: start;

    grid-template-rows: min-content min-content min-content;

    background-image:
      url("../../img/smolov-back-desktop@1x.png"),
      url("../../img/rogovaya-back-desktop@1x.png");

    background-position: calc(50% - 273px) 486px, calc(50% - -167px) 140px;
    background-repeat: no-repeat;
    background-size: 143px 143px, 285px 285px;

    @include retina {
      background-image:
        url("../../img/smolov-back-desktop@2x.png"),
        url("../../img/rogovaya-back-desktop@2x.png");
    }
  }

  @media #{$desktop-width} {
    background-position: calc(50% - 102px) 194px, calc(50% - 388px) 446px;
  }
}

.companions__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media #{$tablet-width} {
    padding-left: 74px;
    padding-right: 74px;
  }

  @media #{$desktop-width} {
    display: grid;

    padding-left: 132px;

    grid-template-columns: 427px 1fr;
    grid-template-rows: min-content 1fr;

    grid-column-gap: 190px;
  }
}

.companions__description {
  padding-left: 24px;
  padding-right: 31px;

  margin-bottom: 54px;

  @media #{$tablet-width} {
    padding-left: 0;
    grid-row: 1/2;

    margin-bottom: 0;
  }

  @media #{$desktop-width} {
    grid-column: 1/2;
    grid-row: 1/2;

    padding-right: 0;

    margin-bottom: 78px;
  }
}

.companions__title {
  position: relative;
  font-style: normal;
  font-weight: bold;

  color: $special-orange;

  margin-bottom: 19px;

  &::before {
    content: "";
    position: absolute;
    top: -34px;
    left: -68px;

    width: 132px;
    height: 132px;

    background-color: $decoration-block;
    border-radius: 20px;

    z-index: -1;
  }

  @media #{$tablet-width} {
    margin-bottom: 55px;

    &::before {
      top: -71px;
      left: -34px;
      width: 212px;
      height: 212px;
    }
  }

  @media #{$desktop-width} {
    margin-bottom: 55px;

    &::before {
      top: -61px;
      left: -72px;
    }
  }
}

.companions__text {
  margin-bottom: 21px;

  &--small {
    @media #{$only-phone-width} {
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  @media #{$tablet-width} {
    width: 427px;

    margin-bottom: 40px;
  }

  @media #{$desktop-width} {
    width: 427px;

    margin-bottom: 42px;
  }
}

.companions__list {
  margin-bottom: 19px;

  @media #{$tablet-width} {
    margin-top: 59px;
    margin-bottom: 78px;

    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px;

    grid-row: 2/3;

    align-items: start;
  }

  @media #{$desktop-width} {
    padding-top: 3px;
    margin-bottom: 0;
    margin-top: 0;

    grid-column-gap: 60px;
    grid-row-gap: 40px;

    grid-row: 1 / -1;
    grid-column: -1 / -2;
  }
}

.companions__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$tablet-width} {
    margin-bottom: 0;
  }
}

.companions__show-all {
  @media #{$tablet-width} {
    grid-row: -1/-2;
    margin-top: 3px;
    width: 100%;
  }

  @media #{$tablet-width} {
    grid-row: -1/-2;
    grid-column: 1/2;
  }
}
