.contacts {
  font-size: 16px;
  line-height: 18px;

  color: $basic-blue-light;

  @media #{$desktop-width} {
    &--row {
      display: flex;
      justify-content: space-around;
    }
  }
}

.contacts__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: $basic-blue-light;
  text-decoration: none;

  text-transform: uppercase;

  @media #{$tablet-width} {
    font-size: 28px;
    line-height: 28px;
  }
}

.contacts__icon-wrapper {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;

  background-color: $special-contacts-dark;

  margin-right: 16px;

  border-radius: 100%;

  @media #{$tablet-width} {
    width: 68px;
    height: 68px;

    margin-right: 23px;
  }
}

.contacts__icon {
  @media #{$tablet-width} {
    height: 19px;
    width: 28px;
  }
}

.contacts--light {
  .contacts__link {
    .contacts__icon-wrapper {
      color: rgba($basic-yellow, 1);
    }

    &:hover {
      color: rgba($basic-blue-light, 0.6);

      .contacts__icon-wrapper {
        color: rgba($basic-yellow, 0.6);
      }
    }

    &:active {
      color: rgba($basic-blue-light, 0.3);

      .contacts__icon-wrapper {
        color: rgba($basic-yellow, 0.3);
      }
    }
  }
}

.contacts--dark {
  .contacts__link {
    color: $basic-yellow;

    &:hover {
      color: $special-orange-dark;
    }

    &:active {
      color: rgba($special-orange-dark, 0.3);
    }
  }
}
