.contacts {
  font-size: 16px;
  line-height: 18px;

  color: $basic-blue-light;

  @media #{$desktop-width} {
    &--row {
      display: flex;
      justify-content: center;
    }
  }
}

.contacts__item {
  @media #{$desktop-width} {
    margin-right: 100px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.contacts__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: $basic-blue-light;
  text-decoration: none;

  text-transform: uppercase;

  @media #{$tablet-width} {
    font-size: 28px;
    line-height: 28px;
  }
}

.contacts__icon-wrapper {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;

  background-color: $special-contacts-dark;

  margin-right: 16px;

  border-radius: 100%;

  @media #{$tablet-width} {
    width: 68px;
    height: 68px;

    margin-right: 23px;
  }

  @media #{$desktop-width} {
    width: 90px;
    height: 90px;

    margin-right: 23px;
  }
}

.contacts__icon {
  @media #{$tablet-width} {
    height: 19px;
    width: 28px;
  }

  &--map-phone {
    width: 18px;
    height: 17px;

    @media #{$tablet-width} {
      width: 27px;
      height: 26px;
    }

    @media #{$desktop-width} {
      width: 36px;
      height: 34px;
    }
  }

  &--map-mail {
    width: 19px;
    height: 13px;

    @media #{$tablet-width} {
      width: 28px;
      height: 19px;
    }

    @media #{$desktop-width} {
      width: 37px;
      height: 25px;
    }
  }

  &--geo {
    width: 21px;
    height: 21px;

    @media #{$tablet-width} {
      width: 32px;
      height: 32px;
    }

    @media #{$desktop-width} {
      width: 32px;
      height: 42px;
    }
  }
}

.contacts__link--light {
  .contacts__icon-wrapper {
    color: rgba($basic-yellow, 1);
  }

  &:hover,
  &:focus {
    color: rgba($basic-blue-light, 0.6);

    .contacts__icon-wrapper {
      color: rgba($basic-yellow, 0.6);
    }
  }

  &:active {
    color: rgba($basic-blue-light, 0.3);

    .contacts__icon-wrapper {
      color: rgba($basic-yellow, 0.3);
    }
  }
}

.contacts__link--dark {
  color: $basic-yellow;

  &:hover,
  &:focus {
    color: $special-orange-dark;
  }

  &:active {
    color: rgba($special-orange-dark, 0.3);
  }
}
