.container {
  @media (min-width: 320px) {
    width: 320px;
    margin: 0 auto;
    padding: 0 25px;
  }

  @media #{$tablet-width} {
    width: 768px;
    margin: 0 auto;
    padding: 0 40px;
  }

  @media #{$desktop-width} {
    width: 1440px;
    margin: 0 auto;
    padding: 0 60px;
  }
}
