.copyright__link {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  @media #{$tablet-width} {
    margin-left: 20px;
  }
}
