.country {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;

  @media #{$tablet-width} {
    align-items: center;
  }
}

.country__dropdown {
  outline: none;
  cursor: pointer;

  position: relative;
  width: 168px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: $special-blue-light;

  border: 1px solid $fieldset-border;
  border-radius: 4px;

  background-color: transparent;

  padding-bottom: 10px;
  padding-left: 9px;
  padding-top: 12px;

  text-align: left;

  &:hover {
    border: 1px solid $number-hover;
  }

  &::after {
    position: absolute;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    content: "";
    left: 162px;
    top: 16px;
    z-index: 10;

    background-color: $basic-white;
    border: 1px solid $fieldset-border;

    @media #{$tablet-width} {
      width: 14px;
      height: 14px;
      right: -35px;
      top: 24px;
      left: auto;

      z-index: 10;
    }

    @media #{$desktop-width} {
      right: -53px;
    }
  }

  &--selected {
    &::after {
      background-color: $special-blue-light;
      border: 1px solid $special-blue-light;
    }
  }

  &--add-new {
    width: 100%;
    background-color: $basic-grey;
    border: 1px solid $basic-grey;

    &::before {
      background-size: 14px;
      background-image: url("../img/show-more-plus-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 9.4px;
      z-index: 1;
      opacity: 0.2;
    }

    &:hover {
      background-color: $basic-change-photo;

      &::before {
        opacity: 0.3;
      }
    }

    &:active {
      &::before {
        opacity: 0.1;
      }
    }

    &::after {
      background-color: $basic-grey;
    }
  }

  @media #{$only-phone-width} {
    &:not(.country__dropdown--selected) {
      width: 100%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 0;
    height: calc(100% - 2px);
    width: 50px;
  }

  &:not(.country__dropdown--add-new)::before {
    background-size: 12px 16px;
    background-image: url("../../img/dropdown-form-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 9.4px;
    z-index: 1;
    opacity: 0.3;

    @media #{$tablet-width} {
      background-size: 16px 10px;
      background-position: right 26px center;
    }
  }

  &--activator {
    letter-spacing: 0.02em;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
  }

  &--clicked {
    background-color: $special-blue-light;
    color: $basic-white;
    border: 1px solid $special-blue-light;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  @media #{$tablet-width} {
    width: 369px;

    padding-bottom: 21px;
    padding-left: 25px;
    padding-top: 26px;

    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    margin-right: 54px;
  }

  @media #{$desktop-width} {
    width: 730px;
    margin-right: 87px;
  }
}

.country__dropdown-text {
  display: block;
  overflow-x: hidden;
  width: 100%;
  white-space: nowrap;
}

.country__dropdown--selected {
  .country__dropdown-text {
    &:not(&--activator)::before {
      position: absolute;
      top: 1px;
      right: 0;
      height: calc(100% - 2px);
      content: linear-gradient(to left, $basic-white 80%, rgba($basic-white, 0));
      width: 50px;

      border-radius: 9px;
    }

    @media #{$tablet-width} {
      &:not(&--activator)::before {
        display: none;
      }
    }
  }
}

.country__cancel {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: $basic-grey;
  border: none;
  border-radius: 100%;
  width: 21px;
  height: 21px;

  z-index: 1;

  &:hover {
    &::before {
      opacity: 0.3;
    }
  }

  &:active {
    &::before {
      opacity: 0.05;
    }
  }

  &::before {
    content: "";
    position: absolute;
    color: $basic-black;
    height: 9px;
    width: 9px;

    background-image: url("../img/close-icon.svg");
    background-position: center;
    background-size: 9px;
    background-repeat: no-repeat;

    opacity: 0.1;

    @media #{$tablet-width} {
      height: 18px;
      width: 20px;
      background-size: 20px 18px;
    }
  }

  @media #{$tablet-width} {
    position: relative;

    width: 24px;
    height: 22px;

    margin-left: auto;
    margin-right: 5px;
    margin-top: 16px;

    background-color: transparent;
  }

  @media #{$desktop-width} {
    margin-right: 13px;
  }
}

.country__table {
  display: block;
  left: 0;
  right: 0;
  top: 100%;
  position: absolute;
  flex-grow: 9999;
  flex-shrink: 0;
}

.country__flag-wrapper {
  position: relative;
  border: 1px solid $fieldset-border;
  border-radius: 4px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1px;

  background-color: $basic-white;

  @media #{$tablet-width} {
    flex-grow: 0;
    width: 70px;
    height: 47px;

    border: 1px solid transparent;

    border-radius: 6px;
    margin-right: 0;
  }
}

.country__flag {
  flex-shrink: 0;

  @media #{$tablet-width} {
    width: 70px;
    height: 47px;
  }
}

.country__dropdown-country-table {
  position: absolute;
  top: 0;
  z-index: 50;
  background-color: $basic-white;

  @media #{$tablet-width} {

  }

  @media #{$desktop-width} {

  }
}
