.country {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.country__dropdown {
  flex-grow: 999;
  flex-shrink: 1;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: $special-blue-light;

  border: 1px solid $fieldset-border;
  border-radius: 4px;

  background-color: transparent;

  white-space: nowrap;

  padding-top: 13px;
  padding-bottom: 13px;

  overflow-x: hidden;
  text-align: left;

  width: 168px;

  &--activator {
    width: 100%;
  }

  &--clicked {
    background-color: $special-blue-light;
    color: $basic-white;
    border: $special-blue-light;
  }
}

.country__cancel {
  position: absolute;
  right: 5px;
  top: -10px;
  background-color: $basic-grey;
  border: none;
  border-radius: 100%;
  width: 21px;
  height: 21px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  &::before {
    content: url("../../img/close.svg");
    width: 9px;
    height: 9px;
  }
}

.country__table {
  display: block;
  left: 0;
  right: 0;
  top: 100%;
  position: absolute;
  flex-grow: 9999;
  flex-shrink: 0;
}

.country__flag {
  flex-shrink: 0;
}
