.criteries__checkboxes {
  @media #{$tablet-width} and (max-width: 1440px) {
    display: flex;
    justify-content: flex-start;
  }
}

.criteries__item {
  font-size: 16px;
  line-height: 18px;

  text-transform: none;

  color: $basic-black;
  margin-bottom: 26px;
}
