.users-filter {
  background-color: $basic-yellow;
  padding-top: 26px;
}

.users-filter__title {
  padding: 0;
  margin: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;

  letter-spacing: 0.02em;

  color: $special-blue-light;
}
