.directions {
  padding-top: 73px;
  padding-bottom: 34px;
  background-color: $basic-grey;
  color: $special-grey;

  @media #{$tablet-width} {
    padding-bottom: 80px;
  }

  @media #{$desktop-width} {
    padding-top: 166px;
    padding-bottom: 138px;
  }
}

.directions__wrapper {
  @media #{$tablet-width} {
    display: grid;
    justify-content: center;
    align-items: start;

    grid-template-rows: min-content min-content min-content;
    grid-template-columns: none;
  }

  @media #{$desktop-width} {
    display: grid;

    grid-template-columns: 559px 519px;
    grid-template-rows: min-content 1fr;
  }
}

.directions__list {
  @media #{$tablet-width} {
    margin-bottom: 46px;
  }

  @media #{$desktop-width} {
    margin-bottom: 0;

    grid-row: 1 / -1;
    grid-column: 1 / -2;
  }
}

.directions__description {
  @media #{$tablet-width} {
    grid-row: 1 / 2;
  }

  @media #{$desktop-width} {
    grid-row: 1 / 2;
    grid-column: -1/-2;
  }
}

.directions__title {
  color: $special-orange;

  margin-bottom: 19px;

  @media #{$tablet-width} {
    margin-bottom: 57px;
  }
}

.directions__text {
  font-weight: 300;

  @media #{$tablet-width} {
    width: 378px;

    margin-bottom: 104px;
  }

  &--bold {
    font-weight: bold;

    //@media #{$tablet-width} {
    //  font-size: 21px;
    //  line-height: 24px;
    //}
  }
}

.directions__show-all {
  @media #{$tablet-width} {
    grid-row: -1 / -2;
  }

  @media #{$desktop-width} {
    grid-row: -1/-2;
    grid-column: 2/3;
  }
}
