$direction-padding-top: 11px;

.direction {
  width: 100%;
  color: $special-grey;

  border-radius: 10px;

  position: relative;

  display: flex;
  flex-direction: column;

  background-color: $basic-white;

  @media #{$tablet-width} {
    flex-direction: row-reverse;
    border-radius: 20px;

    align-items: flex-start;

    width: 616px;
  }

  @media #{$desktop-width} {
    width: 100%;
  }
}

.direction:hover {
  .direction__image {
    transition: transform $transition-duration-very-slow;
    transform: scale(1.2);
  }
}

.direction__image-wrapper {
  height: 110px;
  width: 270px;
  overflow: hidden;

  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  @media #{$tablet-width} {
    width: 186px;
    height: 100%;

    flex-shrink: 0;

    border-radius: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.direction__image {
  @media #{$tablet-width} {
    width: 186px;
    height: 140px;
  }
}

.direction__flag-wrapper {
  position: absolute;

  top: 86px;
  left: 25px;

  width: 35px;
  height: 24px;

  z-index: 10;

  @media #{$tablet-width} {
    width: 70px;
    height: 47px;

    top: 17px;
    left: auto;
    right: 150px;
  }

  @media #{$desktop-width} {
    top: 24px;
  }
}

.direction__flag {
  max-width: 100%;
}

.direction__meta {
  background-color: $basic-white;

  margin-top: -$direction-padding-top;

  padding: 26px 24px 24px;
  border-radius: 10px;

  z-index: 5;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;

  @media #{$tablet-width} {
    flex-grow: 1;

    flex-direction: column;

    padding: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 31px;
    padding-right: 70px;
    margin-top: 0;

    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  @media #{$desktop-width} {
    padding-top: 24px;
    padding-bottom: 23px;
  }
}

.direction__country {
  max-width: 120px;

  flex-shrink: 1;
  flex-grow: 0;

  font-size: 21px;
  line-height: 21px;

  color: $basic-black;

  @media #{$tablet-width} {
    max-width: none;

    font-size: 24px;
    line-height: 24px;
    order: 0;

    margin-bottom: 5px;
  }
}

.direction__users {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: rgba($basic-blue, 0.3);

  text-align: left;

  margin-left: auto;

  order: 2;

  display: flex;
  justify-content: flex-end;

  @media #{$only-phone-width} {
    max-width: 100px;

    &--little {
      margin-right: 10px;
    }
  }

  &::before {
    margin-right: 5px;
    margin-top: 3px;

    display: block;
    content: url("../img/user-icon.svg");
    width: 14px;
    height: 14px;
    opacity: 0.15;

    @media #{$tablet-width} {
      width: 21px;
      height: 22px;

      margin-right: 9px;
    }

    @media #{$desktop-width} {
      width: 18px;
      height: 20px;
    }
  }

  @media #{$tablet-width} {
    font-size: 20px;
    line-height: 20px;

    margin-left: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    order: 0;
  }
}

.direction__promo {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  max-width: 150px;

  color: rgba($special-grey, 0.3);

  flex-grow: 1;

  order: 3;

  @media #{$tablet-width} {
    font-size: 20px;
    line-height: 20px;

    width: 100%;
    max-width: none;

    order: 0;

    margin-bottom: 16px;
  }

  @media #{$desktop-width} {
    margin-bottom: 23px;
  }
}
