.directions {
  padding-top: 73px;
  padding-bottom: 34px;
  background-color: $basic-grey;
  color: $special-grey;

  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 166px;
    padding-bottom: 138px;
  }
}

.directions__wrapper {
  @media screen and (min-width: 768px) {
    display: grid;
    justify-content: center;
    align-items: start;

    grid-template-rows: min-content min-content min-content;
    grid-template-columns: none;
  }

  @media screen and (min-width: 1440px) {
    display: grid;

    grid-template-columns: 559px 519px;
    grid-template-rows: min-content 1fr;
  }
}

.directions__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (min-width: 768px) {
    margin-bottom: 46px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 0;

    grid-row: 1 / -1;
    grid-column: 1 / -2;
  }
}

.directions__description {
  @media screen and (min-width: 768px) {
    grid-row: 1 / 2;
  }

  @media screen and (min-width: 1440px) {
    grid-row: 1 / 2;
    grid-column: -1/-2;
  }
}

.directions__title {
  font-style: normal;
  font-weight: bold;

  color: $special-orange;

  @media screen and (min-width: 768px) {
    margin-bottom: 57px;
  }
}

.directions__text {
  font-style: normal;
  font-weight: 300;

  @media screen and (min-width: 768px) {
    width: 378px;

    margin-bottom: 104px;
  }

  &--bold {
    font-weight: bold;

    @media screen and (min-width: 768px) {
      font-size: 21px;
      line-height: 24px;
    }
  }
}

.directions__show-all {
  @media screen and (min-width: 768px) {
    grid-row: -1 / -2;
  }

  @media screen and (min-width: 1440px) {
    grid-row: -1/-2;
    grid-column: 2/3;
  }
}
