$direction-padding-top: 11px;

.direction {
  width: 100%;
  background-color: $basic-grey;
  color: $special-grey;

  border-radius: 10px;

  position: relative;

  display: flex;
  flex-direction: column;

  //  TODO: если убрать, то z-index не робит и не получилось сделать наложение

  @media #{$tablet-width} {
    flex-direction: row-reverse;
    border-radius: 20px;
  }

  @media #{$desktop-width} {
    border-radius: 0;
  }
}

.direction__image-wrapper {
  height: 110px;
  width: 270px;
  overflow: hidden;

  border-radius: 10px;

  @media #{$tablet-width} {
    width: 186px;
    height: 140px;

    border-radius: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }

  @media #{$desktop-width} {
    border-radius: 0;
  }
}

.direction__image {
  @media #{$tablet-width} {
    width: 186px;
    height: 140px;
  }
}

.direction__flag-wrapper {
  position: absolute;

  top: 86px;
  left: 25px;

  width: 35px;
  height: 24px;

  z-index: 10;

  @media #{$tablet-width} {
    width: 70px;
    height: 47px;

    top: 17px;
    left: auto;
    right: 150px;
    background-color: rgba(tomato, 0.3);
  }
}

.direction__country {
  font-size: 21px;
  line-height: 21px;

  color: $basic-black;

  grid-column: 1/2;
  grid-row: 1/2;

  @media #{$tablet-width} {
    font-size: 24px;
    line-height: 24px;
  }
}

.direction__meta {
  background-color: $basic-white;

  margin-top: -$direction-padding-top;

  padding: 26px 24px 24px;
  border-radius: 10px;

  z-index: 5;

  display: grid;

  grid-template-columns: 1fr 56px;
  grid-template-rows: 1fr min-content;

  grid-row-gap: 2px;

  @media #{$tablet-width} {
    flex-grow: 1;

    padding: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 31px;
    margin-top: 0;

    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

    grid-template-columns: none;
    grid-template-rows: min-content 1fr min-content;
  }

  @media #{$desktop-width} {
    padding-top: 22px;
    border-radius: 0;
  }
}


.direction__promo {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  color: rgba($special-grey, 0.3);

  grid-row: 2/3;
  grid-column: 1/-1;

  width: 140px;

  @media #{$tablet-width} {
    padding-top: 3px;
    font-size: 20px;
    line-height: 20px;

    grid-row: 2/3;
    width: 100%;
  }
}

.direction__users {
  grid-row: 1/2;
  grid-column: 2/3;

  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: rgba($basic-blue, 0.3);
  padding-left: 14px;

  text-align: left;

  @media #{$tablet-width} {
    grid-row: 3/-1;
    grid-column: 1/2;

    font-size: 20px;
    line-height: 20px;

    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
  }

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: url("../../img/user.svg");
    width: 14px;
    height: 14px;
    color: rgba($basic-blue-light, 0.1);
  }
}
