.dropdown-country-table {
  display: none;

  background-color: $basic-white;
  border-radius: 4px;

  &--opened {
    width: 220px;
    display: block;

    @media #{$tablet-width} {
      width: 575px;

      padding-left: 0;

      padding-top: 0;
      border-spacing: 0;
      background-color: transparent;
    }

    @media #{$desktop-width} {
      position: absolute;

      width: 730px;

      border-collapse: separate;
    }
  }
}

.dropdown-country-table__header {
  z-index: 1;

  @media #{$tablet-width} {
    background-color: transparent;
  }
}

.dropdown-country-table__toggle {
  cursor: pointer;
  position: relative;
  width: 100%;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: 0.016em;
  text-transform: uppercase;

  color: $special-blue-light;

  border-radius: 4px;

  background-color: transparent;

  padding-bottom: 10px;
  padding-left: 16px;
  padding-top: 12px;

  text-align: left;

  background-color: $special-blue-light;
  color: $basic-white;
  border: 1px solid $special-blue-light;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  @media #{$tablet-width} {
    width: 369px;

    padding-bottom: 21px;
    padding-left: 25px;
    padding-top: 26px;

    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    margin-right: 54px;
  }

  @media #{$desktop-width} {
    width: 730px;
    margin: 0;
  }
}

.dropdown-country-table__toggle-icon {
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);

  color: rgba($basic-white, 0.3);

  @media #{$tablet-width} {
    right: 22px;
    width: 22px;
    height: 21px;
  }
}

.dropdown-country-table__toggle:hover {
  color: rgba($basic-white, 0.6);

  .dropdown-country-table__toggle-icon {
    color: rgba($basic-white, 1);
  }
}

.dropdown-country-table__toggle:active {
  color: rgba($basic-white, 0.3);

  .dropdown-country-table__toggle-icon {
    color: rgba($basic-white, 0.1);
  }
}

.dropdown-country-table__inner {
  background-color: $basic-white;

  box-shadow: 0 2px 16px rgba(212, 217, 235, 0.25);

  @media #{$tablet-width} {
    display: flex;
    padding-left: 28px;
    padding-right: 27px;
    padding-bottom: 33px;

    padding-top: 33px;

    box-shadow: 0 8px 16px rgba(54, 80, 148, 0.18);

    position: relative;

    &::after {
      position: absolute;
      content: "";
      right: 205px;
      top: 0;
      bottom: 0;
      width: 1px;

      background-color: $fieldset-border;
    }
  }

  @media #{$desktop-width} {
    padding-left: 12px;
    padding-right: 7px;
    padding-bottom: 19px;
    padding-top: 16px;

    &::after {
      right: 239px;
    }
  }
}

.dropdown-country-table__table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: -1px;

  @media #{$tablet-width} {
    width: 262px;

    margin-top: 0;
  }

  @media #{$desktop-width} {
    width: 361px;
    border-collapse: separate;
    border-spacing: 16px;
  }
}

.dropdown-country-table__cell {
  padding-top: 15.7px;
  padding-bottom: 10px;

  border: 1px solid $fieldset-border;
  text-align: center;
  vertical-align: center;


  @media #{$tablet-width} {
    background-color: transparent;

    padding: 27px 0;
    padding-bottom: 21px;
    cursor: pointer;

    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    text-align: center;
    text-transform: uppercase;

    color: $basic-blue-light;

    &:hover,
    &:focus {
      color: rgba($basic-blue-light, 0.6);
      border: 1px solid $weekend-selected-background;
    }
  }

  @media #{$desktop-width} {
    width: 60px;
    height: 70px;

    border-radius: 4px;
  }


  &--selected, &:active {
    background-color: $basic-grey;
    border-bottom: 1px solid $basic-grey;

    @media #{$tablet-width} {
      background-color: $special-blue-light;
      border: 1px solid $special-blue-light;
      color: $basic-white;

      position: relative;

      &::before {
        position: absolute;
        display: block;
        width: calc(100% + 4px);
        height: calc(100% + 2px);
        left: -1px;
        right: -2px;
        top: -1px;
        bottom: 0;
        content: "";
        box-shadow: inset 0 0 0 3px $special-blue-light;
        background-color: transparent;
      }
    }

    @media #{$desktop-width} {
      border: 1px solid $special-blue-light;
      color: $basic-white;

      &::before {
        display: none;
      }
    }
  }
}

.dropdown-country-table__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  min-height: 41px;

  background-color: $basic-white;

  border: 1px solid $fieldset-border;

  &--selected {
    background-color: $basic-grey;
    border: none;
  }
}

.dropdown-country-table__content {
  padding-top: 20px;
  padding-left: 19px;
  padding-bottom: 13px;

  border-left: 0.5px solid $fieldset-border;
  border-right: 0.5px solid $fieldset-border;
  border-bottom: 0.5px solid $fieldset-border;

  @media #{$tablet-width} {
    width: 172px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: 0;

    border: 0;

    padding-top: 0;
    padding-left: 17px;
  }

  @media #{$desktop-width} {
    padding: 0;
    padding-top: 16px;
    width: 206px;
  }
}

.dropdown-country-table__content-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: $special-grey;

  margin-bottom: 5px;

  @media #{$tablet-width} {
    font-size: 20px;
    line-height: 29px;

    margin-bottom: 1px;
  }

  @media #{$desktop-width} {
  }
}

.dropdown-country-table__content-link {
  color: $special-grey;
  text-decoration: none;

  &:hover {
    color: $special-blue-light;
  }

  &:active {
    color: rgba($special-blue-light, 0.3);
  }
}

.dropdown-country-table__letter-countries {
  @media #{$desktop-width} {
    margin-bottom: 37px;
  }
}

.dropdown-country-table__letter {
  @media #{$desktop-width} {
    margin-bottom: 31px;
    display: block;
  }
}

.dropdown-country-table__letter-link {
  display: none;

  @media #{$desktop-width} {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    text-transform: none;
    text-decoration: none;

    color: $special-grey;
  }
}
