.entertainment__country {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;

  color: $special-blue-light;

  @media #{$tablet-width} {
    font-size: 30px;
    line-height: 30px;
  }

  margin-bottom: 14px;
}

.entertainment__description {
  padding: 25px;
  border: 1px solid $fieldset-border;
  color: $special-grey;
}
