.entertainment {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.entertainment__country {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;

  color: $special-blue-light;

  padding-left: 10px;

  width: 100%;

  &::after {
    display: block;
    width: 12px;
    height: 2px;
    background-color: $special-blue-light;
    left: -14px;
    top: 7px;

    content: "";
    position: absolute;

    @media #{$tablet-width} {
      display: none;
    }
  }

  @media #{$tablet-width} {
    font-size: 30px;
    line-height: 30px;

    padding: 0;
    letter-spacing: 0.02em;
    width: 100%;
    padding-right: 120px;

    margin-bottom: 38px;
  }

  @media #{$desktop-width} {
    letter-spacing: 0.013em;
  }

  margin-bottom: 14px;
}

.entertainment__country-text {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &::before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    content: linear-gradient(to left, $basic-white 80%, rgba($basic-white, 0));
    width: 70px;
    height: 100%;

    z-index: 1;
  }
}

.entertainment__flag-wrapper {
  position: absolute;
  right: 0;
  top: -5px;

  z-index: 10;

  @media #{$tablet-width} {
    width: 70px;
    height: 47px;

    border-radius: 6px;
    overflow: hidden;

    right: 31px;
    top: -9px;
  }

  @media #{$desktop-width} {
    right: -125px;
    top: -6px;
  }
}

.entertainment__flag {
  @media #{$tablet-width} {
    width: 70px;
    height: 47px;
  }
}

.entertainment__description {
  // TODO: мог здесь напутать со стайлгайдом фокус и актив -_-
  padding: 25px;
  border: 1px solid $fieldset-border;
  color: rgba($special-grey, 0.3);

  outline: none;

  &:hover, &:focus {
    border: 1px solid $number-hover;
  }

  &:active {
    color: rgba($special-grey, 1);
    border: 1px solid $basic-blue;
  }

  @media #{$tablet-width} {
    font-size: 20px;
    line-height: 23px;

    padding-left: 17px;
    padding-top: 18px;
    padding-right: 110px;

    height: 142px;
  }

  @media #{$desktop-width} {
    padding-top: 22px;
    padding-left: 22px;
    padding-right: 10px;
  }

  &--error {
    position: relative;
    z-index: 0;
    border: 1px solid $input-invalid-border;
  }
}

.entertainment__description-wrapper {
  position: relative;
  width: 100%;

  @media #{$tablet-width} {
    margin-right: 30px;
    margin-left: 3px;
  }

  &--error {
    &::after {
      font: inherit;
      font-weight: normal;
      font-size: inherit;
      line-height: inherit;
      position: absolute;
      content: attr(data-error);
      color: $input-invalid;
      background-color: $input-invalid-background;

      display: block;

      height: 56px;
      width: calc(100% - 4px);

      left: 3px;
      right: 0;
      top: auto;
      bottom: 9px;

      z-index: 1;

      padding: 20px 20px 16px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media #{$tablet-width} {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}
