// Entertaiments.scss

.entertainments {
  margin-bottom: 20px;

  @media #{$tablet-width} {
    padding-top: 36px;
    border-top: 1px solid $fieldset-border;
    margin-bottom: 28px;
  }

  @media #{$desktop-width} {
    padding-top: 80px;
    padding-right: 240px;
  }
}

.entertainments__item {
  margin-bottom: 20px;
  position: relative;

  @media #{$tablet-width} {
    margin-bottom: 51px;
  }

  &:not(:last-child)::before {
    position: absolute;
    content: "";

    width: 2px;
    height: calc(100% + 21px);
    top: 8px;
    left: -14px;

    background-color: $special-blue-light;

    @media #{$tablet-width} {
      height: calc(100% + 60px);
      top: 12px;
      left: auto;
      right: 3px;
      z-index: 20;
    }

    @media #{$desktop-width} {
      right: -15px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: $special-blue-light;
    top: 5px;
    left: -3px;

    border-radius: 50%;

    @media #{$tablet-width} {
      width: 14px;
      height: 14px;
      right: -3px;
      top: 9px;
      left: auto;
      z-index: 20;
    }

    @media #{$desktop-width} {
      right: -21px;
      top: 7px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
