.expander {
  @media #{$only-tablet-width} {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.expander--opened,
.expander--no-js {
  .expander__content {
    display: block;

    padding-top: 2px;
    padding-bottom: 18px;

    @media #{$only-tablet-width} {
      padding-top: 0;
      padding-bottom: 0;
    }

    &--transport {
      padding-bottom: 19px;

      @media #{$only-tablet-width} {
        padding-bottom: 0;
        padding-left: 16px;
      }
    }

    @media #{$desktop-width} {
      padding-top: 12px;

      &--transport {
        padding-top: 0;
        padding-left: 0;
      }
    }
  }

  .expander__icon {
    transform: rotate(180deg);
  }
}

.expander__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 12px;
  padding-bottom: 9px;

  cursor: pointer;

  color: $special-blue-light;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media #{$only-tablet-width} {
    padding: 0;
  }

  @media #{$desktop-width} {
    padding-top: 6px;
    padding-bottom: 14px;
  }
}

.expander__icon {
  @media #{$only-tablet-width} {
    display: none;
  }
}

.expander__title {
  @media #{$only-tablet-width} {
    width: 104px;
  }

  color: $special-blue-light;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  @media #{$tablet-width} {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }
}

.expander__content {
  @media #{$only-phone-width} {
    display: none;
  }

  @media #{$only-tablet-width} {
    flex-grow: 1;
  }

  @media #{$desktop-width} {
    display: none;
  }
}
