.fast-registration {
  background-color: $basic-blue-light;
  color: $basic-white;

  padding-top: 72px;
  padding-bottom: 30px;

  @media screen and (min-width: 768px) {
    padding-top: 76px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 109px;
    padding-bottom: 60px;
  }
}

.fast-registration__title {
  color: $special-orange;
  text-align: center;

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 59px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 57px;
  }
}

.fast-registration__text {
  text-align: center;

  color: $basic-white;

  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 32px;

    margin-bottom: 65px;
  }

  @media screen and (min-width: 1440px) {
    width: 655px;
    font-size: 28px;
    line-height: 31px;

    margin-bottom: 60px;
  }
}

.fast-registration__link {
  color: $basic-yellow;
  text-decoration-line: underline;

  &:hover {
    color: $special-orange;
  }

  &:active {
    color: rgba($special-orange, 0.3);
  }
}

.fast-registration__form {
  display: flex;
  align-items: flex-start;

  margin-bottom: 30px;
}

.fast-registration__input {
  font: inherit;

  border-radius: 10px;
  flex-grow: 1;
  padding: 20px 25px;

  border: 4px solid transparent;
  color: rgba($special-grey, 0.3);

  @media screen and (min-width: 768px) {
    padding: 28px 36px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 60px;
  }

  &:hover {
    color: rgba($special-grey, 0.5);

    &::placeholder {
      color: rgba($special-grey, 0.5);
    }
  }

  &:focus {
    background-color: transparent;
    color: $basic-white;
    border: 4px solid $basic-white;
  }

  &::placeholder {
    font-size: 18px;
    line-height: 18px;

    color: rgba($special-grey, 0.3);
  }

  &:invalid {
    color: $input-invalid;
    background-color: $basic-white;
  }
}

.fast-registration__button {

  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
  width: 62px;

  @media screen and (min-width: 768px) {
    width: 80px;
    height: 80px;
  }

  @media screen and (min-width: 1440px) {
    min-width: 330px;
    min-height: 81px;
  }
}

.fast-registration__button-text {
  display: none;

  @media screen and (min-width: 1440px) {
    display: inline;
  }
}

