.fast-registration {
  position: relative;
  z-index: $fast-registration-z-index;

  background-color: $basic-blue-light;
  color: $basic-white;

  padding-top: 71px + $index-mobile-border-radius;
  margin-top: -$index-mobile-border-radius;
  padding-bottom: 28px;

  border-bottom-right-radius: $index-mobile-border-radius;
  border-bottom-left-radius: $index-mobile-border-radius;

  @media #{$tablet-width} {
    padding-top: 76px + $index-tablet-border-radius;
    padding-bottom: 59px;

    margin-top: -$index-tablet-border-radius;


    border-bottom-right-radius: $index-tablet-border-radius;
    border-bottom-left-radius: $index-tablet-border-radius;
  }

  @media #{$desktop-width} {
    padding-top: 109px + $index-tablet-border-radius;
    padding-bottom: 100px;
  }
}

.fast-registration__wrapper {
  @media #{$tablet-width} {
    padding-left: 76px;
    padding-right: 75px;
  }

  @media #{$desktop-width} {
    padding-left: 131px;
    padding-right: 132px;
  }
}

.fast-registration__title {
  color: $special-orange;
  text-align: center;

  margin-bottom: 20px;

  @media #{$tablet-width} {
    margin-bottom: 59px;
  }

  @media #{$desktop-width} {
    margin-bottom: 57px;
  }
}

.fast-registration__text {
  text-align: center;

  color: $basic-white;
  width: 237px;
  margin: 0 auto;
  margin-bottom: 30px;

  &--questions {
    margin-bottom: 18px;
  }

  @media #{$tablet-width} {
    width: auto;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 65px;

    &--questions {
      margin-bottom: 40px;
    }
  }

  @media #{$desktop-width} {
    width: 655px;
    font-size: 28px;
    line-height: 31px;

    margin-bottom: 60px;

    &--questions {
      margin-bottom: 45px;
    }
  }
}

.fast-registration__link {
  color: $basic-yellow;
  text-decoration-line: underline;

  &:hover {
    color: $special-orange;
  }

  &:active {
    color: rgba($special-orange, 0.3);
  }
}

.fast-registration__form {
  position: relative;
  display: flex;
  align-items: flex-start;

  margin-bottom: 30px;

  @media #{$tablet-width} {
    margin-bottom: 59px;
  }

  @media #{$desktop-width} {
    margin-bottom: 70px;
  }
}

$fast-registration-mobile-step: 5px;

.fast-registration__input {
  width: 100%;
  font: inherit;

  border-radius: 10px;

  padding: 20px 21px;
  padding-bottom: 17px;
  padding-right: 21px + 5px;

  border: 4px solid transparent;
  color: rgba($special-grey, 0.3);

  @media #{$tablet-width} {
    font-style: normal;
    font-weight: bold;

    padding: 28px 36px;
    padding-top: 22px;
    padding-left: 32px;
    padding-bottom: 24px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px;
  }

  @media #{$desktop-width} {
  }

  &:hover {
    color: rgba($special-grey, 0.5);

    &::placeholder {
      color: rgba($special-grey, 0.5);
    }
  }

  &:focus {
    background-color: transparent;
    color: $basic-white;
    border: 4px solid $basic-white;
  }

  &::placeholder {
    font: inherit;
    font-size: 18px;
    line-height: 18px;

    color: rgba($special-grey, 0.3);

    @media #{$tablet-width} {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &:invalid {
    color: $input-invalid;
    background-color: $basic-white;
  }
}

.fast-registration__button {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
  width: 60px;

  padding: 0;

  @media #{$tablet-width} {
    width: 80px;
    height: 80px;

    border-radius: 0;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  @media #{$desktop-width} {
    font-weight: bold;
    height: 100%;
    width: 324px;
    text-align: left;
    justify-content: space-between;

    padding-left: 37px;
    padding-right: 36px;
    padding-top: 7px;
    padding-bottom: 6px;
  }
}

.fast-registration__button-text {
  display: none;

  @media #{$desktop-width} {
    display: inline;
  }
}
