.flags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &--column {
    flex-direction: column;
  }
}

.flags__item {
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }
}

.flags--row {
  .flags__item {
    margin-bottom: 0;

    margin-right: 19px;

    &:last-child {
      margin-right: 0;
    }
  }
}


.flags--card {
  .flags__item {
    margin-right: 26px;
  }
}
