.footer {
  position: relative;
  z-index: $footer-z-index;
  padding-top: 37px;
  padding-bottom: 19px;

  background-color: $basic-white;
  color: $special-grey;

  border-top-right-radius: $index-mobile-border-radius;
  border-top-left-radius: $index-mobile-border-radius;

  &--index {
    margin-top: -110px;

    @media #{$tablet-width} {
      margin-top: -57px;
    }

    @media #{$desktop-width} {
      margin-top: -65px;
    }
  }

  &--form {
    margin-top: -$index-mobile-border-radius;

    @media #{$tablet-width} {
      margin-top: -$index-tablet-border-radius;
    }
  }

  @media #{$tablet-width} {
    padding-top: 48px;
    padding-bottom: 32px;

    border-top-right-radius: $index-tablet-border-radius;
    border-top-left-radius: $index-tablet-border-radius;
  }

  @media #{$desktop-width} {
    padding-top: 47px;
    padding-bottom: 43px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;

  @media #{$tablet-width} {
    flex-direction: row;
    align-items: center;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;

  @media #{$tablet-width} {
    margin-bottom: 0;
    margin-right: 86px;

    width: 164px;
    height: 42px;
  }

  @media #{$desktop-width} {
    margin-bottom: 0;
    margin-right: 365px;

    width: 200px;
    height: 55px;
  }
}

.footer__socials {
  margin-bottom: 50px;
  position: relative;

  &::after {
    position: absolute;
    content: "";

    background-color: $footer-line;
    height: 1px;
    width: 100%;
    left: 50%;
    bottom: -37px;
    transform: translateX(-50%);
  }

  @media #{$tablet-width} {
    margin-bottom: 0;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;

  font-weight: normal;
  font-size: 16px;
  line-height: 16px;

  @media #{$tablet-width} {
    margin-left: auto;

    font-size: 20px;
    line-height: 20px;
  }
}
