.header {
  width: 100%;
  position: relative;
  background-color: $basic-blue;
  color: white;

  @media (min-width: 320px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media #{$tablet-width} {
    padding-top: 42px;
    padding-bottom: 72px;
  }

  @media #{$desktop-width} {
    padding-top: 46px;
    padding-bottom: 30px;
  }

  &--white {
    background-color: $basic-white;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__logo {
  order: -3;

  @media #{$tablet-width} {
    width: 166px;
    height: 42px;

    background-color: $basic-white;
  }

  @media #{$desktop-width} {
    width: 200px;
    height: 52px;

    background: $basic-white;

    margin-right: 40px;
  }
}

.header__body {
  padding-top: 22px;
  padding-bottom: 11px;
}

.header__body-title {
  position: relative;
  font-size: 36px;
  line-height: 36px;

  width: fit-content;

  color: $basic-white;

  &::after {
    position: absolute;

    top: 44px;
    left: 0;

    content: "";
    width: 100%;
    height: 5px;

    background-color: $special-orange;
    border-radius: 4px;
  }
}

.header__wrapper {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  min-height: 568px;
  z-index: 1000;

  @media (min-width: 320px) {
    padding-top: 70px;
  }
}

.header__icon-menu {
  display: block;
  width: 19px;
  height: 19px;
}

.header__icon-close {
  display: none;
  width: 19px;
  height: 19px;
}

.header--opened {
  .header__icon {
    fill: $basic-blue-light;
  }

  .header__icon-menu {
    display: none;
  }

  .header__icon-close {
    display: block;
  }

  .header__wrapper {
    display: block;
    position: absolute;
    top: 79px;
    left: 0;
    right: 0;
    background-color: $basic-white;
  }

  .header__list {
    display: block;
  }

  .header__user-nav {
    display: flex;
  }

  .header__contacts {
    display: block;
  }

  .header__socials {
    display: flex;
  }
}

.header__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: none;

  margin-left: auto;
  order: -2;

  @media #{$tablet-width} {
    width: 25px;
    height: 11px;
    margin-left: 165px;
    margin-top: 19px;
    order: -1;
  }

  @media #{$desktop-width} {
    display: none;
  }
}

.header__icon {
  flex-shrink: 0;
  fill: $basic-white;

  @media #{$tablet-width} {
    width: 25px;
    height: 11px;
  }
}

.header__list {
  display: none;

  color: $special-blue-light;

  margin-top: 69px;
  margin-bottom: 50px;
  width: 100%;

  order: -1;

  @media #{$tablet-width} {
    order: 0;

    margin-top: 95px;
    padding-left: 57px;

    margin-bottom: 129px;
  }

  @media #{$desktop-width} {
    order: -2;
    display: flex;

    width: 495px;

    color: white;

    font-size: 20px;
    line-height: 20px;

    margin-top: 0;

    margin-bottom: 0;
    padding-top: 20px;
  }
}

.header__user-nav {
  display: none;
  font-size: 17px;
  line-height: 30px;

  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;

  margin-bottom: 51px;

  width: 100%;

  @media #{$tablet-width} {
    order: -1;
    display: flex;

    padding-top: 0;
    padding-bottom: 0;

    margin-left: auto;
    margin-bottom: 0;

    width: auto;
  }

  @media #{$desktop-width} {
    order: 0;
    margin-left: auto;

    padding-top: 0;
    padding-bottom: 0;
  }
}

.header__contacts {
  display: none;
  margin-bottom: 50px;

  @media #{$tablet-width} {
    padding-left: 57px;
    margin-bottom: 120px;
  }

  @media #{$desktop-width} {
    display: none;
  }
}

.header__socials {
  display: none;
  width: 100%;

  @media #{$tablet-width} {
    padding-left: 57px;

  }
}
