.map {
  padding-top: 30px;

  background-color: $basic-yellow;
}

.map__header {
  @media #{$desktop-width} {
    display: flex;
    justify-content: space-around;
  }
}

.map__contacts {
  margin-bottom: 30px;
}

.map__image {
  max-width: 100%;
}

.map__make-path {
  margin-bottom: 35px;

  width: 100%;

  @media #{$desktop-width} {
    max-width: 324px;
  }

  &:hover {
    background-color: $basic-blue-light;
    color: $basic-white;
  }

  &:active {
    background-color: $basic-blue-light;
    color: rgba($basic-white, 0.3);
  }
}
