.map {
  padding-top: 30px;

  background-color: $basic-yellow;
}

.map__header {
  @media screen and (min-width: 1440px) {
    display: flex;
    justify-content: space-around;
  }
}

.map__contacts {
  margin-bottom: 30px;
}

.map__image {
  max-width: 100%;
}

.map__make-path {
  margin-bottom: 35px;

  @media screen and (min-width: 1440px) {
    max-width: 324px;
  }
}
