.menu__wrapper {
  min-height: 568px;
  display: none;
  z-index: 1000;

  @media (min-width: 320px) {
    padding-top: 70px;
  }
}

.menu__icon-menu {
  display: block;
  width: 19px;
  height: 19px;
}

.menu__icon-close {
  display: none;
  width: 19px;
  height: 19px;
}

.menu--opened {
  .menu__icon {
    fill: $basic-blue-light;
  }

  .menu__icon-menu {
    display: none;
  }

  .menu__icon-close {
    display: block;
  }

  .menu__wrapper {
    display: block;
    position: absolute;
    top: 79px;
    left: 0;
    right: 0;
    background-color: $basic-white;
  }
}

.menu__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: none;
}

.menu__icon {
  flex-shrink: 0;
  fill: $basic-white;
}

.menu__list {
  margin-bottom: 50px;
}

.menu__auth {
  font-size: 17px;
  line-height: 30px;

  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;

  margin-bottom: 51px;
}

.menu__contacts {
  margin-bottom: 50px;
}
