.number {
  position: relative;
  color: $special-blue-light;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media #{$desktop-width} {
    flex-wrap: nowrap;

    max-width: 475px;

    align-items: baseline;
    justify-content: flex-start;
  }
}

.number__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;

  letter-spacing: 0.09em;
  text-transform: uppercase;

  @media #{$tablet-width} {
    font-size: 20px;
    line-height: 18px;

    letter-spacing: 0.1em;

    margin-bottom: 16px;
  }

  @media #{$desktop-width} {
    order: 1;

    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0;

    width: 200px;
    margin-right: 22px;
  }
}

.number__unit {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;

  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: rgba($special-blue-light, 0.3);


  @media #{$tablet-width} {
    font-size: 20px;
    line-height: 18px;

    letter-spacing: 0.08em;

    margin-bottom: 16px;
  }

  @media #{$desktop-width} {
    order: 3;

    color: rgba($special-blue-light, 1);
    letter-spacing: 0;

    margin-left: auto;
    width: 52px;
    text-align: center;
    margin-right: -3px;
  }
}

.number__input-wrapper {
  position: relative;
  margin-top: 7px;
  width: 100%;

  @media #{$desktop-width} {
    order: 2;

    width: 180px;
  }
}

.number__input-wrapper:hover {
  .number__button {
    color: $number-hover;
  }

  .number__input {
    border: 1px solid $number-hover;
  }
}

.number__input-wrapper:focus-within {
  .number__button {
    color: $basic-blue;
  }

  .number__input {
    border: 1px solid $basic-blue;
  }
}


.number__input {
  outline: none;

  background-color: transparent;
  border: 1px solid $fieldset-border;
  border-radius: 4px;


  font: inherit;
  font-weight: 500;
  font-size: 15px;
  line-height: 14px;

  text-transform: uppercase;
  text-align: center;

  color: inherit;
  width: 100%;

  padding-top: 15px;
  padding-bottom: 11px;

  @media #{$tablet-width} {
    font-size: 20px;
    line-height: 18px;

    padding-top: 23px;
    padding-bottom: 23px;
  }

  &:hover,
  &:focus {
    color: $special-blue-light;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
}

.number__button {
  width: 14px;
  height: 14px;
  position: absolute;
  bottom: 18px;

  border: none;
  background-color: transparent;

  color: $qty-button;

  &:hover,
  &:focus {
    color: $qty-button-hover;
  }

  &:active {
    color: $qty-button-active;
  }
}

.number__icon {
  width: 14px;
  height: 14px;

  &--minus {
    left: 8px;
    top: 15px;

    @media #{$tablet-width} {
      left: 19px;
      top: 27px;

      .number__icon {
        width: 20px;
      }
    }
  }

  &--plus {
    right: 20px;
    top: 15px;

    @media #{$tablet-width} {
      top: 25px;
      right: 32px;

      .number__icon {
        width: 20px;
        height: 19px;
      }
    }
  }
}
