.page__body {
  background-color: $basic-blue;
}

.page__main {
  background-color: $basic-grey;

  &--catalog {
    position: relative;
  }
}

.page__body--light {
  background-color: $basic-grey;
}
