.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $basic-white;

  border-radius: 20px;

  @media #{$tablet-width} {
    padding-top: 24px;
    padding-left: 29px;
    padding-bottom: 23px;
    padding-right: 18px;
  }
}

.pagination__pages-list {
  display: none;

  @media #{$tablet-width} {
    display: flex;
  }
}

.pagination__arrows {
  width: 100%;
  justify-content: space-between;
  position: relative;

  @media #{$only-phone-width} {
    &::before {
      position: absolute;
      content: "";

      height: 100%;
      width: 1px;
      background-color: $basic-grey;

      left: 50%;
      top: 0;
    }
  }

  @media #{$tablet-width} {
    padding-top: 3px;
    width: 85px;
  }

  @media #{$desktop-width} {
    width: 99px;
  }
  display: flex;
}

.pagination__pages-link {
  display: block;
  font-size: 20px;
  line-height: 20px;

  text-transform: uppercase;

  color: $special-blue-light;
  text-decoration: none;

  padding: 17px 19px 16px 20px;
  border-radius: 50%;

  &--current {
    background-color: $basic-yellow;
  }
}

.pagination__button {
  cursor: pointer;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $basic-white;

  &::after {
    width: 10px;
    height: 18px;
  }

  &--previous {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

    &::after {

      content: url("../../img/triangle-arrow-left-icon.svg");
    }
  }

  &--next {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;

    &::after {
      content: url("../../img/triangle-arrow-right-icon.svg");
    }
  }
}
