.planning-countries {
  position: relative;

  &::before {
    @media #{$tablet-width} {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      top: 0;
      right: 136px;
      bottom: 0;

      background: linear-gradient(to top, rgba($fieldset-border, 0) 0, $fieldset-border 100%);
      z-index: 0;
    }

    @media #{$desktop-width} {
      right: 226px;
      height: calc(100% + 148px);
    }
  }
}

.planning-countries__item {
  margin-bottom: 22px;
  position: relative;

  @media #{$tablet-width} {
    margin-bottom: 17px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$only-phone-width} {
    &:not(:last-child)::before {
      content: "";
      position: absolute;

      left: 163px;
      width: 8px;
      height: 11px;
      bottom: -16px;

      background-image: url("../../img/small-arrow.svg");
      background-repeat: no-repeat;
      background-size: 8px 11px;
      background-position: center;

      opacity: 0.3;
    }
  }
}
