.plans {
  padding-top: 29px;
  padding-bottom: 30px;

  background-color: $basic-change-photo;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;

    padding-bottom: 76px;
  }

  @media screen and (min-width: 1440px) {
    padding-bottom: 64px;
  }
}

.plans__list {
  padding: 0;
  margin: 0;
  list-style: none;

  counter-reset: list;
}

.plans__item {
  position: relative;
  counter-increment: list;

  margin-bottom: 10px;

  &::before {
    position: absolute;
    right: 31px;
    top: 43px;
    content: counter(list) ".";
    font-size: 20px;
    line-height: 20px;

    @media screen and (min-width: 1440px) {
      left: 43px;
      top: 40px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.plans__title {
  color: $special-blue-light;

  margin-bottom: 29px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 49px;
  }

}
