.preview-card {
  background-color: $basic-white;
  color: $special-blue-light;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: relative;

  border-radius: 10px;

  padding-bottom: 17px;

  @media #{$tablet-width} {
    width: 285px;

    border-radius: 20px;

    padding-bottom: 23px;
  }
}

.preview-card:hover,
.preview-card:focus-within {
  .preview-card__avatar {
    transition: transform $transition-duration-very-slow;
    transform: scale(1.2);
  }
}

.preview-card__avatar-link {
  tab-index: 0;
}

.preview-card__avatar-wrapper {
  width: 270px;
  height: 270px;

  overflow: hidden;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  @media #{$tablet-width} {
    width: 285px;
    height: 286px;


    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}

.preview-card__avatar {
  max-width: 100%;
}

.preview-card__name {
  position: relative;

  font-size: 21px;
  line-height: 21px;
  width: fit-content;

  margin-bottom: 15px;

  text-align: center;

  color: $special-blue-light;

  @media #{$tablet-width} {
    font-size: 24px;
    line-height: 22px;

    margin-bottom: 23px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    left: -16px;
    top: 6px;
    width: 6px;
    height: 6px;
    border-radius: 100%;

    @media #{$tablet-width} {
      width: 8px;
      height: 8px;

      left: -22px;
    }
  }

  &--offline::before {
    background-color: $special-red;
  }

  &--online::before {
    background-color: $special-green;
  }
}

.preview-card__name-link {
  color: inherit;
  text-decoration: none;
}

.preview-card__tags {
  padding-left: 36px;
  padding-right: 31px;
  margin-bottom: 10px;

  @media #{$tablet-width} {
    font-size: 20px;
    line-height: 23px;

    padding-left: 22px;
    padding-right: 18px;

    margin-bottom: 20px;
  }
}

.preview-card__transports {
  margin-bottom: 0;
}

.preview-card__progress {
  position: absolute;

  top: 20px;
  left: 17px;

  z-index: 1;

  @media #{$tablet-width} {
    left: 22px;
    top: 19px;
  }

  @media #{$desktop-width} {
    left: 23px;
    top: 24px;
  }
}

.preview-card__flags {
  margin-top: -12px;
  margin-bottom: 10px;
  width: 250px;

  justify-content: center;

  @media #{$tablet-width} {
    margin-bottom: 14px;
  }

  @media #{$desktop-width} {
    margin-bottom: 14px;
  }
}
