.profile {
  padding-top: 25px;
  padding-bottom: 9px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media #{$tablet-width} {
    padding-top: 65px;
    justify-content: flex-start;
    align-items: flex-start;

    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 33px;
  }

  @media #{$desktop-width} {
    padding-right: 0;
    padding-left: 63px;

    margin-top: -255px;
    padding-bottom: 39px;
  }
}

.profile__progress {
  width: 100px;
  height: 100px;

  margin-left: 16px;

  @media #{$tablet-width} {
    order: -2;

    width: 94px;
    height: 94px;

    margin-right: 62px;
    margin-left: -3px;
  }

  @media #{$desktop-width} {
    margin-top: 41px;
    order: -2;
    margin-left: 830px;
    margin-right: 44px;
  }
}

.profile__avatar-wrapper {
  width: 100px;
  height: 100px;

  margin-right: 18px;

  @media #{$tablet-width} {
    margin-left: auto;

    margin-right: 0;
    width: 94px;
    height: 94px;
  }

  @media #{$desktop-width} {
    order: -1;
    width: 190px;
    height: 190px;
    margin-right: 95px;
    z-index: 10;
  }
}

.profile__avatar {
  max-width: 100%;
  border-radius: 50%;

  @media #{$tablet-width} {
    border-radius: 7px;
  }

  @media #{$desktop-width} {
    border-radius: 0;
  }
}

.profile__photo-change {
  color: $basic-blue;
  background-color: $basic-change-photo;
  font-family: inherit;

  font-weight: 500;
  font-size: 20px;
  line-height: 18px;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  padding: 12.5px 67px 12.5px 68px;
  margin-bottom: 31px;

  margin-top: 16px;

  @media #{$tablet-width} {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    border-radius: 10px;

    padding-top: 21px;
    padding-bottom: 21px;

    margin-top: 25px;

    text-align: center;
    letter-spacing: 0.09em;
    margin-bottom: 52px;
  }

  @media #{$desktop-width} {
    width: 190px;
    flex-shrink: 0;
    margin-top: 0;
    margin-left: 972px;
    margin-right: 0;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 12px;
    padding-top: 17px;
    margin-bottom: 26px;
  }

  &:hover,
  &:focus {
    background-color: $basic-change-photo-hover;
  }

  &:active {
    background-color: $basic-change-photo;
    color: rgba($basic-blue, 0.3);
  }
}

.profile__photo-change-hidden-text {
  margin-right: 6px;

  @media #{$desktop-width} {
    display: none;
  }
}

.profile__textarea {
  padding: 25px;
  padding-bottom: 23px;

  outline: none;

  @media #{$tablet-width} {
    font-size: 20px;
    line-height: 22px;

    padding-left: 39px;
    padding-top: 35px;
    padding-bottom: 10px;
  }
}

.profile__fieldset {
  margin-bottom: 25px;

  width: 100%;
  flex-shrink: 0;

  &--tags {
    @media #{$tablet-width} {
      flex-shrink: 0;
    }

    @media #{$desktop-width} {
      width: 732px;
    }
  }

  &--transport {
    @media #{$tablet-width} {
      order: -1;
      width: 308px;
    }

    @media #{$desktop-width} {
      order: 0;
      width: 384px;

      margin-left: auto;
    }
  }
}

.profile__transports {
  padding-bottom: 15px;
  padding-top: 14px;

  @media #{$tablet-width} {
    padding-top: 24px;
    padding-bottom: 26px;
  }
}
