.profile {
  padding-top: 25px;
  padding-bottom: 35px;
}

.profile__progress {
  width: 100px;
  height: 100px;
}

.profile__avatar-wrapper {
  width: 100px;
  height: 100px;
}

.profile__avatar {
  max-width: 100%;
  border-radius: 100%;
}

.profile__photo-change {
  color: $basic-blue;
  background-color: $basic-change-photo;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  padding: 12.5px 67px 12.5px 68px;
  margin-bottom: 33px;

  &:hover {
    background-color: $basic-change-photo-hover;
  }

  &:active {
    background-color: $basic-change-photo;
    color: rgba($basic-blue, 0.3);
  }
}

.profile__textarea {
  padding: 25px;
}

.profile__fieldset {
  margin-bottom: 25px;
}
