.promo {
  padding-top: 30px;
  background-color: $basic-blue;
  color: $basic-white;

  @media #{$desktop-width} {
    padding-top: 110px;
  }
}

.promo__wrapper {
  @media #{$desktop-width} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 40px;

  text-align: center;

  @media (min-width: 320px) {
    margin-bottom: 245px;
  }

  @media #{$tablet-width} {
    font-size: 60px;
    line-height: 70px;

    margin-bottom: 86px;
  }

  @media #{$desktop-width} {
    width: 418px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

.promo__user-nav {
  @media #{$tablet-width} {
    display: none;
  }
}


.promo__blockquote {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  color: $basic-white;

  @media #{$tablet-width} {
    font-size: 28px;
    line-height: 33px;

    margin-bottom: 211px;
  }

  @media #{$desktop-width} {
    margin-left: auto;
    width: 264px;
  }
}

.promo__author {
  margin-top: 18px;
  font-style: normal;

  font-weight: bold;

  @media #{$tablet-width} {
    font-size: 21px;
    line-height: 25px;
  }
}

.promo__steps {
  display: flex;
  flex-direction: column;

  counter-reset: my-awesome-counter;

  @media #{$tablet-width} {
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  @media #{$desktop-width} {
    margin-top: 100px;
  }
}

.promo__steps-item {
  font-size: 18px;
  line-height: 18px;

  color: $basic-blue;

  padding-left: 25px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-right: 21px;

  border-radius: 10px;

  counter-increment: my-awesome-counter;

  display: flex;
  justify-content: space-between;

  @media #{$tablet-width} {
    flex-grow: 1;
    flex-shrink: 0;
    width: 344px;

    margin-top: -15px;
  }

  @media #{$desktop-width} {
    width: calc(100% / 4);
  }

  &:not(:first-child) {
    margin-top: -15px;
  }

  &:nth-child(4n - 3) {
    background-color: $special-orange;
  }

  &:nth-child(4n - 2) {
    background-color: $special-orange-light;
  }

  &:nth-child(4n - 1) {
    background-color: $special-yellow-dark;
  }

  &:nth-child(4n) {
    background-color: $basic-yellow;
  }

  &::after {
    font-size: 18px;
    line-height: 18px;

    color: $basic-white;

    display: block;
    content: counter(my-awesome-counter);
  }
}

.promo__steps-text {
  max-width: 150px;

  @media #{$tablet-width} {
    margin-bottom: 10px;
  }
}
