.services {
  position: relative;

  background-color: $basic-grey;
  color: $special-grey;

  padding-top: 23px + $index-mobile-border-radius;

  border-bottom-left-radius: $index-mobile-border-radius;
  border-bottom-right-radius: $index-mobile-border-radius;

  padding-bottom: 17px;

  z-index: $services-z-index;

  @media #{$tablet-width} {
    padding-top: 74px;
    padding-bottom: 34px;

    border-bottom-left-radius: $index-tablet-border-radius;
    border-bottom-right-radius: $index-tablet-border-radius;
  }

  @media #{$desktop-width} {
    padding-top: 107px;
    padding-bottom: 136px;
  }

  &::after {
    position: absolute;
    content: "";

    width: 100px;
    height: 100px;

    z-index: 2;

    background-image: url("../../img/rates@1x.png");

    @include retina {
      background-image: url("../../img/rates@2x.png");
    }

    background-repeat: no-repeat;
    background-size: 100px 100px;

    top: 37px;
    left: calc(50% + 35px);

    @media #{$tablet-width} {
      bottom: 45px;
      top: auto;
      left: calc(50% + 199px);
    }

    @media #{$desktop-width} {
      width: 198px;
      height: 198px;
      background-size: 198px 198px;

      top: calc(50% - 90px);
      bottom: auto;
      left: calc(50% + 389px);
    }
  }
}

.services__wrapper {
  padding-left: 50px;

  @media #{$tablet-width} {
    padding-left: 40px;
    padding-right: 75px;
  }

  @media #{$desktop-width} {
    padding-left: 130px;
  }
}

.services__title {
  display: flex;
  justify-content: center;

  font-style: normal;

  color: $special-orange;
  text-decoration: none;

  margin-bottom: 57px;

  width: 125px;

  @media #{$tablet-width} {
    margin-bottom: 74px;
    padding-left: 39px;
    width: auto;
  }

  @media #{$desktop-width} {
    margin-bottom: 131px;
    padding-left: 0;
    padding-right: 51px;
  }

  &--business {
    width: 100%;
    margin-bottom: 27px;

    padding-left: 25px;
    padding-right: 25px;

    @media #{$tablet-width} {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 36px;
    }
  }
}

.services__tariffs {
  margin-bottom: 21px;
  position: relative;

  &::after {
    bottom: -13px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, rgba($services-border, 0) 0, $services-border, rgba($services-border, 0));
    height: 1px;
    width: 100%;

    @media #{$tablet-width} {
      bottom: -2px;
    }

    @media #{$desktop-width} {
      bottom: 6px;
    }
  }

  @media #{$tablet-width} {
    position: relative;
    margin-bottom: 7px;

    &:not(.services__tariffs--business)::before {
      position: absolute;
      content: "";
      border-radius: 20px;
      background-color: $countries-filter-background;
      right: -36px;
      top: -42px;
      height: calc(100% + 88px);
      width: 200px;

      z-index: -1;
    }
  }

  @media #{$desktop-width} {
    padding-right: 0;
    margin-right: auto;
    margin-bottom: 0;
    width: 906px;

    &:not(.services__tariffs--business)::before {
      right: -161px;
      top: -48px;
      height: calc(100% + 93px);
      width: 447px;
      z-index: 0;
    }
  }
}

.services__business-tariffs {
  padding-top: 0;
  padding-bottom: 34px;

  @media #{$tablet-width} {
    padding-top: 11px;
    padding-bottom: 52px;
  }

  @media #{$desktop-width} {
    padding-top: 8px;
    padding-bottom: 53px;
    padding-left: 61px;
    padding-right: 59px;
  }
}

.services__item {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background: linear-gradient(to right, rgba($services-border, 0) 0, $services-border, rgba($services-border, 0));
    height: 1px;
    width: 100%;
    top: -15px;
    left: 0;

    @media #{$tablet-width} {
      top: 1px;
      width: 561px;
      left: 30px;
    }
  }

  @media #{$desktop-width} {
    padding-top: 2px;
  }
}

.services__show-tariffs {
  color: $show-tariffs-button;
  font-size: 16px;
  line-height: 16px;

  text-align: center;

  padding-left: 0;
  padding-right: 0;

  @media #{$tablet-width} {
    width: 490px;
    text-align: left;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    font-size: 20px;
    line-height: 20px;
  }

  &:hover,
  &:focus {
    color: rgba($show-tariffs-button, 0.6);
    background-color: transparent;
  }

  &:active {
    color: rgba($basic-blue, 0.3);
    background-color: transparent;
  }
}

.services__button-svg-wrapper {
  display: none;

  @media #{$tablet-width} {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    background-color: $transport-unchecked-active;
    color: inherit;

    width: 68px;
    height: 68px;

    margin-right: 22px;
  }
}

.services__button-svg {
  @media #{$tablet-width} {
    width: 20px;
    height: 22px;

    margin-top: -5px;
  }
}

.services__business {
  display: none;

  &--opened {
    display: block;
  }

  position: absolute;
  top: 50%;

  background-color: $basic-white;

  width: 270px;
  padding-top: 35px;
  overflow-y: auto;

  border-radius: 20px;

  @media #{$tablet-width} {
    width: 688px;

    padding-top: 54px;
  }
}

.services__modal {
  position: absolute;
  display: none;

  top: -11px;
  left: calc(50%);

  transform: translateX(-50%);

  z-index: 1000;
  width: 270px;

  padding: 34px 0 0;
  border-radius: 20px;

  background-color: $basic-white;

  box-shadow: 0 2px 8px rgba(29, 46, 91, 0.14);

  @media #{$tablet-width} {
    width: 688px;
    top: 0;

    padding: 54px 0 0;

    box-shadow: 0 4px 22px rgba(29, 46, 91, 0.18);
  }

  @media #{$desktop-width} {
    width: 750px;
    box-shadow: 0 4px 22px rgba(29, 46, 91, 0.18);
    border-radius: 30px;

    top: 109px;
    padding-top: 55px;
  }

  &--opened {
    display: block;
  }
}

.services__tariffs--business {
  padding: 0 25px 34px;

  @media #{$tablet-width} {
    padding: 10px 93px 0 90px;
    margin-bottom: 52px;
  }

  @media #{$desktop-width} {
    padding: 8px 61px 0 60px;
  }
}

.services__close {
  width: 100%;
  font-size: 16px;
  line-height: 24px;

  font-style: inherit;
  font-weight: inherit;

  text-align: center;
  text-transform: uppercase;
  color: $special-blue-light;

  background-color: $special-grey-light;

  padding-top: 21px;
  padding-bottom: 14px;

  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  &:hover,
  &:focus {
    background-color: $close-modal-button-hover;
  }

  &:active {
    background-color: $close-modal-button-hover;
    color: rgba($close-modal-button-text-active, 0.3);
  }

  @media #{$tablet-width} {
    text-transform: none;

    font-size: 24px;
    line-height: 24px;

    padding-top: 41px;
    padding-bottom: 43px;
  }

  @media #{$desktop-width} {
    font-size: 24px;
    line-height: 26px;

    padding-bottom: 42px;

    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}
