.services {
  position: relative;

  background-color: $basic-grey-light;
  color: $special-grey;
  padding-top: 53px;

  @media #{$tablet-width} {
    padding-top: 74px;
    padding-bottom: 63px;
  }

  @media #{$desktop-width} {
    padding-top: 107px;
    padding-bottom: 165px;
  }
}

.services__wrapper {
  padding-left: 50px;

  background-image: url("../../img/rates@1x.png");
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: calc(100% - 25px) -16px;

  @include retina {
    background-image: url("../../img/rates@2x.png");
  }

  @media #{$tablet-width} {
    padding-left: 40px;
    padding-right: 75px;

    background-position: calc(100% - 85px) bottom;
  }

  @media #{$desktop-width} {
    padding-left: 130px;

    background-size: 198px 198px;
    background-position: calc(100% - 133px) calc(50% + 31px);
  }
}

.services__title {
  display: flex;
  justify-content: center;

  font-style: normal;

  color: $special-orange;
  text-decoration: none;

  margin-bottom: 57px;

  width: 125px;


  &--business {
    width: 100%;
    margin-bottom: 28px;

    padding-left: 25px;
    padding-right: 25px;
  }

  @media #{$tablet-width} {
    margin-bottom: 74px;
    width: auto;
  }

  @media #{$desktop-width} {
    margin-bottom: 127px;
  }
}

.services__tariffs {
  margin-bottom: 40px;

  @media #{$tablet-width} {
    position: relative;
    margin-bottom: 31px;

    &:not(.services__tariffs--business)::before {
      position: absolute;
      content: "";
      border-radius: 20px;
      background-color: $countries-filter-background;
      right: -37px;
      top: -42px;
      height: calc(100% + 81px);
      width: 200px;

      z-index: 0;
    }
  }

  @media #{$desktop-width} {
    padding-right: 0;
    margin-right: auto;
    width: 880px;

    &:not(.services__tariffs--business)::before {
      right: -187px;
      top: -35px;
      height: calc(100% + 96px);
      width: 446px;
      z-index: 0;
    }
  }
}

.services__show-tariffs {
  color: $show-tariffs-button;
  font-size: 16px;
  line-height: 16px;

  text-align: center;

  margin-bottom: 38px;

  @media #{$tablet-width} {
    width: 490px;
    text-align: left;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    font-size: 20px;
    line-height: 20px;

    &:hover {
      color: rgba($show-tariffs-button, 0.6);
    }
  }

  &:active {
    color: rgba($basic-blue, 0.3);
  }
}

.services__button-svg-wrapper {
  display: none;

  @media #{$tablet-width} {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    background-color: $transport-unchecked-active;
    color: inherit;

    width: 68px;
    height: 68px;

    margin-right: 22px;
  }
}

.services__business {
  //position: fixed;
  //top: 0;
  //right: 0;
  //bottom: 0;
  //left: 0;
  //margin: auto;

  display: none;

  &--opened {
    display: block;
  }

  position: absolute;
  top: 50%;

  background-color: $basic-white;

  width: 270px;
  padding-top: 35px;
  overflow-y: auto;

  border-radius: 20px;

  @media #{$tablet-width} {
    width: 688px;

    padding-top: 54px;
  }
}

.services__close {
  width: 100%;
  font-size: 16px;
  line-height: 24px;

  font-style: inherit;
  font-weight: inherit;

  text-align: center;
  text-transform: uppercase;
  color: $special-blue-light;

  background-color: $special-grey-light;

  padding-top: 21px;
  padding-bottom: 21px;

  @media #{$tablet-width} {
    text-transform: none;

    font-size: 24px;
    line-height: 24px;

    padding-top: 41px;
    padding-bottom: 41px;
  }

  @media #{$desktop-width} {
    font-size: 24px;
    line-height: 26px;

    padding-bottom: 45px;
  }
}
