.site-list {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: space-between;

  flex-wrap: wrap;

  @media #{$tablet-width} {
    text-align: left;
  }
}

.site-list__item {
  @media #{$desktop-width} {
    margin-right: 34px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.site-list__link {
  display: block;

  position: relative;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;

  text-transform: uppercase;

  color: inherit;
  text-decoration: none;

  @media #{$tablet-width} {
    font-size: 60px;
    line-height: 71px;
  }

  @media #{$desktop-width} {
    font-size: 20px;
    line-height: 20px;
  }

  overflow-y: hidden;

  &:hover {
    opacity: 0.6;

    @media #{$desktop-width} {
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__link:hover {
  @media #{$desktop-width} {
    .site-list__text {
      transform: translateY(-200%);
    }
  }
}

.site-list__text {
  display: block;
  position: relative;
  transition: $transition-duration-normal transform;
  height: 100%;

  &::after {
    display: block;
    width: 100%;
    height: 100%;
    top: 200%;
    left: 0;
    position: absolute;
    content: attr(data-text);

    font: inherit;
    color: $basic-yellow;
  }
}
