.site-list {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: space-between;

  flex-wrap: wrap;

  @media #{$tablet-width} {
    text-align: left;
  }
}

.site-list__item {
  margin-right: 34px;

  &:last-child {
    margin-right: 0;
  }
}

.site-list__link {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;

  text-transform: uppercase;

  color: inherit;
  text-decoration: none;

  @media #{$tablet-width} {
    font-size: 60px;
    line-height: 71px;
  }

  @media #{$desktop-width} {
    font-size: 20px;
    line-height: 20px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
