.socials {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
}

.socials--yellow {
  .socials__link {
    background-color: $basic-yellow;
  }
}


.socials__link {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  color: inherit;
  text-decoration: none;

  &::before {
    display: block;
    flex-shrink: 0;
  }

  &--vk::before {
    content: url("../../img/vk.svg");
    width: 23px;
    height: 12px;
  }

  &--facebook::before {
    content: url("../../img/facebook.svg");
    width: 11px;
    height: 21px;
  }

  &--instagram::before {
    content: url("../../img/instagram.svg");
    width: 18px;
    height: 18px;
  }
}
