.socials {
  display: flex;
  justify-content: center;

  @media #{$tablet-width} {
    justify-content: flex-start;
  }
}

.socials__link {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  color: $special-blue-light;
  text-decoration: none;

  @media #{$tablet-width} {
    width: 62px;
    height: 62px;
  }
}

.socials--yellow {
  .socials__link {
    background-color: $basic-yellow;

    &:hover,
    &:focus {
      background-color: $special-yellow-dark;
    }

    &:active {
      color: rgba($special-blue-light, 0.3);
    }
  }
}

.socials--white {
  .socials__link {
    background-color: transparent;

    &:hover,
    &:focus {
      color: rgba($special-blue-light, 0.6);
    }

    &:active {
      color: rgba($special-blue-light, 0.3);
    }
  }
}

.socials__icon {
  &--facebook {
    width: 11px;
    height: 21px;

    @media #{$tablet-width} {
      width: 14px;
      height: 26px;
    }

    @media #{$desktop-width} {
      width: 14px;
      height: 27px;
    }
  }

  &--vk {
    width: 23px;
    height: 12px;

    @media #{$tablet-width} {
      width: 27px;
      height: 18px;
    }

    @media #{$desktop-width} {
      width: 31px;
      height: 16px;
    }
  }

  &--instagram {
    width: 18px;
    height: 18px;

    @media #{$tablet-width} {
      width: 22px;
      height: 22px;
    }

    @media #{$desktop-width} {
      width: 24px;
      height: 24px;
    }
  }
}
