.socials {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
}

.socials__link {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  color: $special-blue-light;
  text-decoration: none;
}

.socials--yellow {
  .socials__link {
    background-color: $basic-yellow;

    &:hover {
      background-color: $special-yellow-dark;
    }

    &:active {
      color: rgba($special-blue-light, 0.3);
    }
  }
}

.socials--white {
  .socials__link {
    background-color: transparent;

    &:hover {
      color: rgba($special-blue-light, 0.6);
    }

    &:active {
      color: rgba($special-blue-light, 0.3);
    }
  }
}
