$additional-height: 60px;

.steps {
  counter-reset: list;

  color: $special-blue-light;

  padding-bottom: 43px;
}

.steps__item {
  counter-increment: list;

  margin-bottom: 10px;

  @media #{$tablet-width} {
    margin-bottom: 39px;
  }

  @media #{$desktop-width} {
    margin-bottom: 45px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
