$additional-height: 60px;

.steps {
  counter-reset: list;

  color: $special-blue-light;

  padding-bottom: 43px;
}

.steps__item {
  counter-increment: list;

  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "Шаг " counter(list) ".";
    font-size: 20px;
    line-height: 20px;

    @media #{$tablet-width} {
      font-size: 36px;
      line-height: 36px;
    }
  }
}
