.steps {
  padding: 0;
  margin: 0;
  list-style: none;

  counter-reset: list;

  color: $special-blue-light;

  padding-bottom: 43px;
}

.steps__item {
  counter-increment: list;

  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "Шаг " counter(list) ".";
    font-size: 20px;
    line-height: 20px;

    @media screen and (min-width: 768px) {
      font-size: 36px;
      line-height: 36px;
    }
  }
}
