.table {
  width: 100%;
  padding: 0;
  margin: 0;
  border-collapse: collapse;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  table-layout: fixed;

  color: rgba($special-grey, 0.3);
}

.table__cell {
  font-size: 14px;
  line-height: 18px;

  padding-top: 7px;
  padding-bottom: 6.1px;
  font-weight: normal;
  width: calc(100% / 7);

  text-align: center;
  border: 1px solid $fieldset-border;

  @media #{$tablet-width} {
    font-size: 18px;
    line-height: 18px;

    padding-top: 25px;
    padding-bottom: 26px;
    padding-left: 29px;
    padding-right: 29px;
  }

  @media #{$desktop-width} {
    text-align: left;
    vertical-align: top;

    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 16px;

    height: 71px;

    color: rgba($special-grey, 0.3);
    font-weight: normal;
  }

  &--available {
    font-weight: 500;
    background-color: $basic-grey;
    color: $special-blue-light;

    @media #{$desktop-width} {
      color: $special-grey;
    }
  }

  &--selected {
    color: $basic-white;
    background-color: $weekend-selected-background;

    @media #{$desktop-width} {
      padding-bottom: 0;
    }
  }

  &--available,
  &--selected {
    font-weight: 500;
    cursor: pointer;

    @media #{$desktop-width} {
      font-weight: normal;
    }

    &:hover {
      position: relative;
      color: $basic-white;
      background-color: $weekend-selected-background;
    }

    &:hover::before {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      content: "";
      box-shadow: 0 0 0 1px $weekend-orange;
      z-index: 10;

      @media #{$tablet-width} {
        position: absolute;
        display: block;
        width: calc(100% + 1.5px);
        height: calc(100% + 1px);
        left: -0.5px;
        right: -0.5px;
        top: -0.5px;
        bottom: -0.5px;
        content: "";
        box-shadow: inset 0 0 0 4px $weekend-orange;
        z-index: 10;
      }

      @media #{$desktop-width} {
        position: absolute;
        display: block;
        width: calc(100% + 6px);
        height: calc(100% + 7px);
        left: -4px;
        right: -4px;
        top: -4px;
        bottom: -2px;
        content: "";
        box-shadow: inset 0 0 0 4px #ff5c23;
        z-index: 10;
      }
    }
  }
}

.table__header {
  text-align: center;
  vertical-align: middle;

  font-weight: normal;
  color: rgba($special-grey, 1);

  padding-bottom: 7px;

  &--weekend {
    color: $weekend-orange;
  }

  @media #{$tablet-width} {
    font-size: 18px;
    line-height: 18px;

    padding-bottom: 9px;
  }

  @media #{$desktop-width} {
    text-align: left;
    padding-top: 13px;
    padding-bottom: 18px;
    padding-left: 20px;
  }
}

.table__hidden-letter {
  display: none;

  @media #{$tablet-width} {
    display: inline;
  }
}

.table__cell-text {
  display: none;

  @media #{$desktop-width} {
    display: inline;

    &--start,
    &--end {
      display: block;

      margin-top: 3px;
    }
  }


}
