.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  color: $special-grey;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  &--center {
    justify-content: center;
  }
}

.tags__tag {
  margin-right: 5px;
}
