.tariffs {
  counter-reset: list-number;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: $special-grey;

  @media screen and (min-width: 1440px) {
    padding-right: 345px;
  }
}

.tariffs--no-counter {
  .tariffs__item::after {
    display: none;
  }
}

.tariffs__item {
  position: relative;

  display: flex;
  flex-direction: column;
  counter-increment: list-number;

  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 28px;

    padding-left: 90px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 37px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 38px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    color: $basic-white;

    background-color: $special-orange;

    content: counter(list-number);
    width: 34px;
    height: 34px;

    @media screen and (min-width: 768px) {

      left: 0;
      top: -17px;
      width: 68px;
      height: 68px;

      font-size: 28px;
      line-height: 28px;
    }
  }

  &:nth-child(3n - 2)::after {
    background-color: $special-orange;
  }

  &:nth-child(3n - 1)::after {
    background-color: $special-yellow-dark;
  }

  &:nth-child(3n)::after {
    background-color: $basic-yellow;
  }
}
