.tariffs {
  counter-reset: list-number;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: $special-grey;

  @media #{$desktop-width} {
    padding-right: 345px;
  }
}

.tariffs--no-counter {
  .tariffs__item::after {
    display: none;
  }
}

.tariffs--business {
  padding-left: 25px;
  padding-right: 25px;

  @media #{$tablet-width} {
    padding-left: 90px;
    padding-right: 93px;
  }

  @media #{$desktop-width} {
    padding-right: 50px;
  }

  .tariffs__name {
    width: 300px;
  }

  .tariffs__item {
    margin-bottom: 10px;
  }
}

.tariffs__name {
  margin-bottom: 6px;
  width: 200px;

  @media #{$tablet-width} {
    width: 400px;

    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
  }
}

.tariffs__value {
  order: 2;

  @media #{$tablet-width} {
    margin-left: auto;

    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
  }
}

.tariffs__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  counter-increment: list-number;

  margin-bottom: 25px;

  @media #{$tablet-width} {
    font-size: 28px;
    line-height: 28px;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 0;
  }

  @media #{$desktop-width} {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    color: $basic-white;

    background-color: $special-orange;

    content: counter(list-number);
    width: 34px;
    height: 34px;

    margin-left: auto;
    margin-top: -10px;

    @media #{$tablet-width} {
      order: -1;
      margin-left: 0;
      margin-top: 0;
      margin-right: 22px;

      width: 68px;
      height: 68px;

      font-size: 28px;
      line-height: 28px;
    }
  }

  &:nth-child(3n - 2)::after {
    background-color: $special-orange;
  }

  &:nth-child(3n - 1)::after {
    background-color: $special-yellow-dark;
  }

  &:nth-child(3n)::after {
    background-color: $basic-yellow;
  }
}
