$tooltip-triangle-height: 7px;

.tooltip {
  position: relative;

  &::after {
    min-height: 100%;
    border-radius: 4px;

    z-index: $tooltip-z-index;
  }

  &:hover::after,
  &:focus::after {
    bottom: -69px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: block;
    content: attr(data-tooltip);

    font-weight: normal;
    font-size: 20px;
    line-height: 20px;

    text-align: center;

    white-space: nowrap;

    color: $basic-white;
    background-color: $tooltip-background;

    padding: 18px 20px;

    z-index: $tooltip-z-index;
  }

  &::before {
    display: none;
    position: absolute;
    content: "";

    height: 0;
    width: 0;

    border-style: solid;
    border-width: 0 6px 7px 6px;
    border-color: transparent transparent $basic-blue transparent;

    z-index: $tooltip-z-index;
  }

  &:hover::before,
  &:focus::before {
    left: 50%;
    bottom: -14px;

    transform: translateX(-50%);
    display: block;
  }
}
