.transports {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.transports--transparent {
  .transports__item {
    background-color: transparent;
  }
}

.transports--card {
  .transports__item {
    @media #{$tablet-width} {
      background-color: transparent;
    }
  }

  .transports__icon {
    &--plane {
      @media #{$tablet-width} {
        width: 23px;
        height: 22px;
      }
    }

    &--bus {
      @media #{$tablet-width} {
        width: 19px;
        height: 20px;
      }
    }

    &--bike {
      @media #{$tablet-width} {
        width: 26px;
        height: 25px;
      }
    }

    &--run {
      @media #{$tablet-width} {
        width: 23px;
        height: 24px;
      }
    }
  }
}

.transports__item {
  width: 32px;
  height: 32px;

  display: flex;

  border-radius: 100%;

  color: $special-blue-light;
  background-color: $basic-grey;

  &:last-child {
    margin-right: 0;
  }
}

.transports__item--disabled {
  color: rgba($special-blue-light, 0.15);
}

.transports__icon {
  display: flex;
  margin: auto;

  &--plane {
    width: 21px;
    height: 21px;
  }

  &--bus {
    width: 17px;
    height: 19px;
  }

  &--bike {
    width: 24px;
    height: 24px;
  }

  &--run {
    width: 21px;
    height: 23px;
  }
}
