.transports {
  display: flex;
  justify-content: center;
}

.transports--transparent {
  .transports__item {
    background-color: transparent;
  }
}

.transports__item {
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 5px;

  border-radius: 100%;

  color: $special-blue-light;
  background-color: $basic-grey;

  &:last-child {
    margin-right: 0;
  }
}

.transports__item--disabled {
  color: rgba($special-blue-light, 0.15);
}
