.transports {
  display: flex;
  justify-content: center;
}

.transports--transparent {
  .transports__item {
    background-color: transparent;
  }
}

.transports__item {
  width: 32px;
  height: 32px;

  display: flex;

  border-radius: 100%;

  color: $special-blue-light;
  background-color: $basic-grey;

  &:last-child {
    margin-right: 0;
  }
}

.transports__item--disabled {
  color: rgba($special-blue-light, 0.15);
}

.transports__icon {
  display: flex;
  margin: auto;
}
