.user-nav {
  display: flex;
  align-items: stretch;

  text-align: center;
}

.user-nav--header {
  .user-nav__item {
    display: none;

    @media #{$tablet-width} {
      display: none;
    }

    @media #{$desktop-width} {
      display: block;
    }
  }

  .user-nav__item--auth {
    display: block;

    @media #{$tablet-width} {
      display: block;
    }
  }
}

.user-nav__item {
  &--icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--grow {
    flex-grow: 1;
  }
}

.user-nav__link {
  outline: none;
  width: 100%;
  border-radius: 25px;

  padding: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  text-align: center;
  text-transform: uppercase;
  color: $basic-blue;
  background-color: $basic-yellow;
  text-decoration: none;

  &--tel {
    background-color: $special-orange;
  }

  &--tel:hover,
  &--tel:focus {
    background-color: $special-orange-dark;
  }

  &--email {
    background-color: $special-yellow-dark;
  }

  &--email:hover,
  &--email:focus {
    background-color: $special-orange;
  }

  &--auth {
    padding: 16px 28px 14px 29px;

    font-size: 17px;
    line-height: 20px;

    @media #{$tablet-width} {
      font-size: 20px;
      line-height: 20px;
    }

    &:hover,
    &:focus {
      background-color: $button-primary-hover;
    }

    &:active {
      background-color: $button-primary-hover;
      color: rgba($basic-blue, 0.3);
    }
  }

  &:active {
    .user-nav__icon {
      fill-opacity: 0.3;
    }
  }
}

.user-nav__link--promo {
  padding: 11px;
}

.user-nav__link--auth.user-nav__link--promo {
  padding-top: 13px;
  padding-bottom: 7px;
  font-size: 20px;
  line-height: 20px;

  text-align: center;
  text-transform: uppercase;
}
