.users-filter {
  background-color: $basic-yellow;
  padding-top: 26px;
  padding-bottom: 22px;
}

.users-filter__wrapper {
  width: 100%;
}

.users-filter__title {
  letter-spacing: 0.02em;

  color: $special-blue-light;

  @media #{$tablet-width} {
    letter-spacing: 0;
  }

  @media #{$desktop-width} {
    font-size: 30px;
    line-height: 30px;
    word-wrap: break-spaces;
  }
}

.users-filter__submit {
  font-style: normal;
  font-weight: bold;

  font-size: 17px;
  line-height: 17px;

  justify-content: center;

  text-transform: uppercase;

  color: $basic-blue;
  background-color: $basic-white;

  padding-top: 14px;
  padding-bottom: 15px;
}
