.users-filter {
  background-color: $basic-yellow;
  padding-top: 26px;
  padding-bottom: 22px;
}

.users-filter__wrapper {
  @media screen and (min-width: 1440px) {
    width: 285px;
  }
}

.users-filter__title {
  padding: 0;
  margin: 0;

  font-style: normal;
  font-weight: bold;

  letter-spacing: 0.02em;

  color: $special-blue-light;

  @media screen and (min-width: 768px) {
    letter-spacing: 0;
  }

  @media screen and (min-width: 1440px) {
    font-size: 30px;
    line-height: 30px;
    word-wrap: break-spaces;
  }

}

.users-filter__submit {
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;

  justify-content: center;

  text-transform: uppercase;

  color: $basic-blue;
  background-color: $basic-white;

  padding-top: 14px;
  padding-bottom: 15px;
}
