$basic-blue: #161c35;
$basic-white: #ffffff;

$basic-yellow: #ffd74b;
$special-yellow-dark: #ffbd30;

$basic-blue-light: #192144;
$special-blue-light: #1d2e5b;

$special-orange: #ff8d30;
$special-orange-light: #ffa530;

$special-grey-light: #f3f4f8;
$basic-grey: #edeff6;
$special-grey: #444444;
$basic-grey-light: #e6e8f1;

$basic-black: #000000;

$special-red: #f97676;
$special-red-light: #f9eaea;
$special-green: #81e31e;
