$basic-blue: #161c35;
$basic-white: #ffffff;

$basic-change-photo: #dfe3f0;
$basic-change-photo-hover: #d1d7e9;

$basic-yellow: #ffd74b;
$special-yellow-dark: #ffbd30;

$basic-blue-light: #192144;
$special-blue-light: #1d2e5b;
$special-contacts-dark: #121936;

$special-orange: #ff8d30;
$special-orange-dark: #f26926;
$special-orange-light: #ffa530;

$weekend-orange: #ff5c23;
$weekend-selected-background: #1d2e5b;

$special-grey-light: #f3f4f8;
$basic-grey: #edeff6;
$special-grey: #444444;
$special-grey-profile: #e5e5e5;
$basic-grey-light: #e6e8f1;

$basic-black: #000000;

$special-red: #f97676;
$special-red-light: #f9eaea;
$special-green: #81e31e;

$fieldset-border: #cbced9;

$transport-unchecked: #d9d9d9;
$transport-unchecked-hover: #b2b2b2;
$transport-unchecked-active: #e2e5f1;

$countries-filter-background: #e2e5f2;

$add-plan-background: #d4d9eb;

$qty-button: #cccccc;
$qty-button-hover: #999999;
$qty-button-active: #e5e5e5;

$blue-light-button: #d6daed;

$tooltip-background: #101d41;

$input-invalid: #ff0000;

$button-primary-hover: #ffbd30;

$show-tariffs-button: #132576;

$expander-border: #f3c72b;

$liked-color: #f02323;
