$only-phone-width: "(min-width: 320px) and (max-width: 767px)";
$only-tablet-width: "(min-width: 768px) and (max-width: 1439px)";
$tablet-width: "(min-width: 768px)";
$desktop-width: "(min-width: 1440px)";

$retina: "(min-resolution: 2dppx)";

$index-tablet-border-radius: 60px;
$index-mobile-border-radius: 30px;

$header-scroll-z-index: 500;
$header-body-z-index: 400;
$countries-filter-z-index: 300;
$promo-z-index: 11;
$about-z-index: 10;
$directions-z-index: 9;
$companions-z-index: 7;
$services-z-index: 8;
$fast-registration-z-index: 6;
$map-z-index: 5;
$footer-z-index: 10;
$tooltip-z-index: 300;
